In [284]:
import pandas as pd
import numpy as np

In [285]:
data = pd.read_csv('/Users/samgreene/Downloads/911_calls_for_service.csv')

In [286]:
data.head()

,Unnamed: 0,callDateTime,priority,district,description,callNumber,incidentLocation,location
0,0,2015-07-13 10:41:00,Medium,CD,SEE TEXT,P151941002,0 N CALVERT ST,"(39.2899299,-76.6123462)"
1,1,2015-07-13 10:47:00,Medium,CD,911/NO VOICE,P151941003,600 E FAYETTE ST,"(39.2906737,-76.6071600)"
2,2,2015-07-13 10:42:00,Medium,CD,911/NO VOICE,P151941004,200 E BALTIMORE ST,"(39.2898910,-76.6120720)"
3,3,2015-07-13 10:45:00,Low,CD,PRKG COMPLAINT,P151941005,800 PARK AV,"(39.2985163,-76.6184754)"
4,4,2015-07-13 10:46:00,Medium,SW,AUTO THEFT,P151941006,3500 CLIFTON AV,"(39.3112130,-76.6763150)"

In [287]:
old_data = pd.read_csv('/Users/samgreene/Downloads/BPD_CRIME_DATA_CLEAN_ST.csv')

In [288]:
old_data.head()

,Unnamed: 0,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,0,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,1,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017
2,2,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017
3,3,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,4,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017

In [289]:
csas = housing['CSA2010'].to_list()

In [290]:
def csa(hood):
    areas = []
    for csa in csas:
        if hood in str(csa):
            area = csa
        else:
            area = None
        areas.append(area)
    CSA = next((x for x in areas if x is not None), None)
    return CSA

In [291]:
old_data['CSA'] = old_data['Neighborhood'].apply(csa)

In [292]:
old_data['CSA'].value_counts()

Downtown/Seton Hill                      9603
Cedonia/Frankford                        6850
Sandtown-Winchester/Harlem Park          6305
Brooklyn/Curtis Bay/Hawkins Point        6291
Belair-Edison                            5722
Inner Harbor/Federal Hill                4695
Medfield/Hampden/Woodberry/Remington     4430
Upton/Druid Heights                      4353
Penn North/Reservoir Hill                3952
Cherry Hill                              3932
Canton                                   3653
Greater Charles Village/Barclay          3640
Howard Park/West Arlington               3479
Fells Point                              3218
Washington Village/Pigtown               3119
Greater Mondawmin                        3104
Morrell Park/Violetville                 2869
Westport/Mount Winans/Lakeland           2847
Poppleton/The Terraces/Hollins Market    2786
Allendale/Irvington/S. Hilton            2733
Glen-Fallstaff                           2441
Oldtown/Middle East                      2275
Highlandtown                             1777
Forest Park/Walbrook                     1587
Dorchester/Ashburton                     1535
North Baltimore/Guilford/Homeland        1493
Beechfield/Ten Hills/West Hills          1490
Loch Raven                               1465
Clifton-Berea                            1332
Mount Washington/Coldspring              1137
Greater Rosemont                         1099
Lauraville                               1095
Edmondson Village                         964
South Baltimore                           926
Harbor East/Little Italy                  762
Greater Roland Park/Poplar Hill           694
Cross-Country/Cheswolde                   679
Chinquapin Park/Belvedere                 676
Dickeyville/Franklintown                  373
Orangeville/East Highlandtown             358
Patterson Park North & East               254
Name: CSA, dtype: int64

In [293]:
old_data.isnull().sum(axis = 0)

Unnamed: 0             0
Description            0
Inside/Outside         0
Weapon                 0
Post                   0
District               0
Neighborhood           0
Longitude              0
Latitude               0
Premise                0
Season                 0
Month                  0
Hour                   0
Year                   0
CSA               151128
dtype: int64

In [294]:
151128/263121

0.5743669262430593

In [295]:
old_data['Year'].value_counts()

2013    47921
2016    47827
2012    47765
2015    47702
2014    44905
2017    27001
Name: Year, dtype: int64

In [296]:
def year(Year):
    yr = '20' + str(Year[-2]) + str (Year[-1])
    return int(yr)

In [297]:
year('hhpov15')

2015

In [298]:
def clean_demo(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("Shape__Area")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

def clean_demo_housing(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("SHAPE_Length")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

In [299]:
income = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Household_Income.csv')
poverty = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Family_Households_Living_Below_the_Poverty_Line.csv')
perc18_24 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_18-24_Years_old.csv')
perc25_64 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_25-64_Years_old.csv')
perc65up = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_65_Years_and_over.csv')
perc_asian = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Asian_(Non-Hispanic).csv')
perc_aa = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Black_African-American_(Non-Hispanic).csv')
perc_hispanic = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Hispanic.csv')
perc_white = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_White_Caucasian_(Non-Hispanic).csv')
households = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Total_Number_of_Households.csv')
housing = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Price_of_Homes_Sold.csv')

In [300]:
income = clean_demo(income)
poverty = clean_demo(poverty)
perc18_24 = clean_demo(perc18_24)
perc25_64 = clean_demo(perc25_64)
perc65up = clean_demo(perc65up)
perc_asian = clean_demo(perc_asian)
perc_aa = clean_demo(perc_aa)
perc_hispanic = clean_demo(perc_hispanic)
perc_white = clean_demo(perc_white)
households = clean_demo(households)
housing = clean_demo_housing(housing)

In [301]:
old_data.head()

,Unnamed: 0,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year,CSA
0,0,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017,Brooklyn/Curtis Bay/Hawkins Point
1,1,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017,Penn North/Reservoir Hill
2,2,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017,None
3,3,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017,None
4,4,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017,None

In [302]:
income.head()

                             CSA2010  Year      mhhi
0      Allendale/Irvington/S. Hilton  2010  33563.12
1    Beechfield/Ten Hills/West Hills  2010  50780.92
2                      Belair-Edison  2010  42920.83
3  Brooklyn/Curtis Bay/Hawkins Point  2010  32888.50
4                             Canton  2010  74685.14

In [303]:
new_data = pd.merge(old_data, income, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, poverty, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc18_24, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc25_64, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc65up, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_asian, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_aa, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_hispanic, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_white, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, households, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, housing, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)

In [304]:
new_data.columns

Index(['Unnamed: 0', 'Description', 'Inside/Outside', 'Weapon', 'Post',
       'District', 'Neighborhood', 'Longitude', 'Latitude', 'Premise',
       'Season', 'Month', 'Hour', 'Year', 'CSA', 'mhhi', 'hhpo', 'age2',
       'age6_x', 'age6_y', 'pasi', 'paa1', 'phis', 'pwhi', 'hhs1', 'sale'],
      dtype='object')

In [305]:
new_data = new_data.rename(columns = {'mhhi': 'median_household_income',
                          'hhpo': 'households_below_poverty',
                          'age2': 'perc18_24',
                          'age6_x': 'perc25_64',
                          'age6_y': 'perc65up',
                          'pasi': 'perc_asian',
                          'paa1': 'perc_aa',
                          'phis': 'perc_hisp',
                          'hhs1': 'num_households',
                          'sale': 'median_price_homes_sold'})

In [306]:
new_data.to_csv('BPD_CRIME_DATA_WITHDEMOGRAPHICS.csv')