In [1]:
import pandas as pd
import numpy as np

In [2]:
bpd_df = pd.read_csv('../data/BPD_CRIME_DATA_CLEAN.csv')

In [3]:
bpd_df = bpd_df.drop(columns=["Location","Location 1","Total Incidents"])

In [4]:
bpd_df["CrimeDate"] = pd.to_datetime(bpd_df["CrimeDate"])
bpd_df["Year"] = bpd_df["CrimeDate"].dt.year

In [5]:
bpd_df.head()

,CrimeDate,CrimeTime,CrimeCode,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,23:30:00,3JK,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,2017-09-02,23:00:00,7A,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017
2,2017-09-02,22:53:00,9S,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017
3,2017-09-02,22:50:00,4C,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,2017-09-02,22:31:00,4E,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017

In [6]:
bpd_df = bpd_df.drop(columns=["CrimeTime"])

In [7]:
bpd_df = bpd_df.drop(columns="CrimeCode")

In [8]:
bpd_df = bpd_df[bpd_df["Inside/Outside"].notna()]

In [9]:
bpd_df = bpd_df[bpd_df["Latitude"].notna()]

In [10]:
null_count = bpd_df.isnull().sum()
null_prop = null_count / len(bpd_df)
pd.DataFrame({
    'Count': null_count,
    'Proportion': null_prop})

                Count  Proportion
CrimeDate           0    0.000000
Description         0    0.000000
Inside/Outside      0    0.000000
Weapon              0    0.000000
Post                7    0.000027
District            3    0.000011
Neighborhood      522    0.001976
Longitude           0    0.000000
Latitude            0    0.000000
Premise           478    0.001810
Season              0    0.000000
Month               0    0.000000
Hour                0    0.000000
Year                0    0.000000

In [11]:
bpd_df = bpd_df.dropna()

In [12]:
bpd_df.head(10)

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,2017-09-02,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017
2,2017-09-02,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017
3,2017-09-02,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,2017-09-02,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017
5,2017-09-02,BURGLARY,Inside,NONE,922.0,SOUTHERN,Cherry Hill,-76.62131,39.24867,ROW/TOWNHO,summer,9,22,2017
6,2017-09-02,HOMICIDE,Outside,FIREARM,232.0,SOUTHEASTERN,Canton,-76.56827,39.28202,STREET,summer,9,21,2017
7,2017-09-02,ROBBERY - STREET,Outside,NONE,123.0,CENTRAL,Upton,-76.62789,39.30254,STREET,summer,9,21,2017
8,2017-09-02,AGG. ASSAULT,Outside,OTHER,641.0,NORTHWESTERN,Windsor Hills,-76.68365,39.31370,STREET,summer,9,21,2017
9,2017-09-02,COMMON ASSAULT,Inside,HANDS,332.0,EASTERN,Berea,-76.57419,39.30551,ROW/TOWNHO,summer,9,21,2017

In [13]:
bpd_df.to_csv('../data/V2_BPD_CRIME_DATA_CLEAN_ST.csv')

In [14]:
len(bpd_df)

263121

In [15]:
df = pd.read_csv('../data/BPD_CRIME_DATA_CLEAN_ST.csv')

In [16]:
len(df)

263121

All good