In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv('../data/V2_BPD_CRIME_DATA_CLEAN_ST.csv')

In [51]:
df.head()

,Unnamed: 0,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,0,2017-09-02,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,1,2017-09-02,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017
2,2,2017-09-02,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017
3,3,2017-09-02,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,4,2017-09-02,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017

In [52]:
df = df.drop(columns=["Unnamed: 0"])

Let's check our previous label encoding to find inconsistencies

In [53]:
Description = pd.read_csv("../data/Description_decoder_2.csv", header=None)
Premise = pd.read_csv("../data/Premise_decoder.csv", header=None)
Neigh = pd.read_csv("../data/Neighborhood_decoder.csv", header=None)
District = pd.read_csv("../data/District_decoder.csv", header=None)

In [54]:
Description

                       0   1
0           AGG. ASSAULT   0
1                  ARSON   1
2      ASSAULT BY THREAT   2
3             AUTO THEFT   3
4               BURGLARY   4
5         COMMON ASSAULT   5
6               HOMICIDE   6
7                LARCENY   7
8      LARCENY FROM AUTO   8
9          SEXUAL ASSULT   9
10  ROBBERY - CARJACKING  10
11  ROBBERY - COMMERCIAL  11
12   ROBBERY - RESIDENCE  12
13      ROBBERY - STREET  13
14              SHOOTING  14

That one looks fine. Neighborhood will be rough, though.

In [55]:
pd.set_option('display.max_rows', 500)
Neigh

                             0    1
0                        Abell    0
1                    Allendale    1
2                      Arcadia    2
3                    Arlington    3
4            Armistead Gardens    4
5                    Ashburton    5
6          Baltimore Highlands    6
7                      Barclay    7
8                 Barre Circle    8
9                      Bayview    9
10                  Beechfield   10
11               Belair-Edison   11
12             Belair-Parkside   12
13            Bellona-Gittings   13
14                   Belvedere   14
15                       Berea   15
16              Better Waverly   16
17               Beverly Hills   17
18               Biddle Street   18
19                  Blythewood   19
20                 Bolton Hill   20
21                  Boyd-Booth   21
22                Brewers Hill   22
23        Bridgeview/Greenlawn   23
24               Broadway East   24
25              Broening Manor   25
26                    Brooklyn   26
27           Burleith-Leighton   27
28              Butcher's Hill   28
29                        CARE   29
30           Callaway-Garrison   30
31             Cameron Village   31
32                      Canton   32
33      Canton Industrial Area   33
34   Carroll - Camden Industri   34
35                Carroll Park   35
36        Carroll-South Hilton   36
37            Carrollton Ridge   37
38                  Cedarcroft   38
39                     Cedmont   39
40                     Cedonia   40
41         Central Forest Park   41
42        Central Park Heights   42
43               Charles North   43
44             Charles Village   44
45                 Cherry Hill   45
46                   Cheswolde   46
47             Chinquapin Park   47
48                Clifton Park   48
49                  Coldspring   49
50   Coldstream Homestead Mont   50
51   Concerned Citizens Of For   51
52   Coppin Heights/Ash-Co-Eas   52
53               Cross Country   53
54                  Cross Keys   54
55                  Curtis Bay   55
56   Curtis Bay Industrial Are   56
57                     Cylburn   57
58                 Darley Park   58
59                 Dickeyville   59
60                    Dolfield   60
61                  Dorchester   61
62                    Downtown   62
63               Downtown West   63
64               Druid Heights   64
65             Druid Hill Park   65
66             Dunbar-Broadway   66
67     Dundalk Marine Terminal   67
68              East Arlington   68
69       East Baltimore Midway   69
70                  Easterwood   70
71                    Eastwood   71
72                    Edgewood   72
73           Edmondson Village   73
74      Ednor Gardens-Lakeside   74
75       Ellwood Park/Monument   75
76                   Evergreen   76
77              Evergreen Lawn   77
78                Evesham Park   78
79              Fairfield Area   79
80                    Fairmont   80
81                   Fallstaff   81
82                Federal Hill   82
83                 Fells Point   83
84                 Forest Park   84
85     Forest Park Golf Course   85
86                Four By Four   86
87                   Frankford   87
88             Franklin Square   88
89                Franklintown   89
90           Franklintown Road   90
91                 Garwyn Oaks   91
92                  Gay Street   92
93                        Glen   93
94                   Glen Oaks   94
95              Glenham-Belhar   95
96              Graceland Park   96
97                   Greektown   97
98         Greenmount Cemetery   98
99             Greenmount West   99
100                Greenspring  100
101                 Grove Park  101
102                   Guilford  102
103               Gwynns Falls  103
104   Gwynns Falls/Leakin Park  104
105             Hamilton Hills  105
106                    Hampden  106
107            Hanlon-Longwood  107
108                Harlem Park  108
109                    Harwood  109
110              Hawkins Point  110
111          Heritage Crossing  111
112           Herring Run Park  112
113               Highlandtown  113
114                     Hillen  114
115               Hoes Heights  115
116   Holabird Industrial Park  116
117             Hollins Market  117
118                   Homeland  118
119            Hopkins Bayview  119
120                Howard Park  120
121              Hunting Ridge  121
122                   Idlewood  122
123               Inner Harbor  123
124                  Irvington  124
125     Johns Hopkins Homewood  125
126            Johnston Square  126
127           Jones Falls Area  127
128                  Jonestown  128
129            Kenilworth Park  129
130                  Kernewood  130
131                    Keswick  131
132                    Kresson  132
133               Lake Evesham  133
134                Lake Walker  134
135                   Lakeland  135
136            Langston Hughes  136
137                 Lauraville  137
138                  Levindale  138
139             Liberty Square  139
140               Little Italy  140
141                 Loch Raven  141
142               Locust Point  142
143  Locust Point Industrial A  143
144    Lower Edmondson Village  144
145     Lower Herring Run Park  145
146          Loyola/Notre Dame  146
147               Lucille Park  147
148               Madison Park  148
149            Madison-Eastend  149
150                   Mayfield  150
151             McElderry Park  151
152                   Medfield  152
153                    Medford  153
154                 Mid-Govans  154
155         Mid-Town Belvedere  155
156  Middle Branch/Reedbird Pa  156
157                Middle East  157
158          Midtown-Edmondson  158
159                   Millhill  159
160            Milton-Montford  160
161                  Mondawmin  161
162                 Montebello  162
163            Moravia-Walther  163
164                Morgan Park  164
165    Morgan State University  165
166               Morrell Park  166
167                     Mosher  167
168                Mount Holly  168
169               Mount Vernon  169
170           Mount Washington  170
171               Mount Winans  171
172           Mt Pleasant Park  172
173              New Northwood  173
174  New Southwest/Mount Clare  174
175         North Harford Road  175
176   North Roland Park/Poplar  176
177  Northwest Community Actio  177
178          O'Donnell Heights  178
179                 Oakenshawe  179
180                     Oaklee  180
181                Old Goucher  181
182                    Oldtown  182
183                     Oliver  183
184                Orangeville  184
185  Orangeville Industrial Ar  185
186              Orchard Ridge  186
187         Original Northwood  187
188                  Otterbein  188
189                    Overlea  189
190     Panway/Braddish Avenue  190
191                Park Circle  191
192                   Parklane  192
193                   Parkside  193
194         Parkview/Woodbrook  194
195             Patterson Park  195
196  Patterson Park Neighborho  196
197            Patterson Place  197
198                   Pen Lucy  198
199                 Penn North  199
200              Penn-Fallsway  200
201  Penrose/Fayette Street Ou  201
202              Perkins Homes  202
203               Perring Loch  203
204     Pimlico Good Neighbors  204
205      Pleasant View Gardens  205
206                  Poppleton  206
207             Port Covington  207
208    Pulaski Industrial Area  208
209                    Purnell  209
210             Radnor-Winston  210
211                 Ramblewood  211
212       Reisterstown Station  212
213                  Remington  213
214             Reservoir Hill  214
215            Richnor Springs  215
216          Ridgely's Delight  216
217                  Riverside  217
218             Rognel Heights  218
219                Roland Park  219
220                   Rosebank  220
221                   Rosemont  221
222              Rosemont East  222
223  Rosemont Homeowners/Tenan  223
224           Sabina-Mattfeldt  224
225                Saint Agnes  225
226               Saint Helena  226
227              Saint Josephs  227
228                 Saint Paul  228
229        Sandtown-Winchester  229
230        Seton Business Park  230
231                 Seton Hill  231
232           Sharp-Leadenhall  232
233               Shipley Hill  233
234            South Baltimore  234
235         South Clifton Park  235
236   Spring Garden Industrial  236
237               Stadium Area  237
238  Stonewood-Pentwood-Winsto  238
239             Taylor Heights  239
240                  Ten Hills  240
241               The Orchards  241
242           Towanda-Grantley  242
243                    Tremont  243
244         Tuscany-Canterbury  244
245               Union Square  245
246     University Of Maryland  246
247                    Uplands  247
248          Upper Fells Point  248
249                      Upton  249
250       Villages Of Homeland  250
251                Violetville  251
252                  Wakefield  252
253                   Walbrook  253
254                 Waltherson  254
255            Washington Hill  255
256  Washington Village/Pigtow  256
257                    Waverly  257
258             West Arlington  258
259           West Forest Park  259
260                 West Hills  260
261                  Westfield  261
262                   Westgate  262
263                   Westport  263
264               Wilhelm Park  264
265                Wilson Park  265
266                 Winchester  266
267              Windsor Hills  267
268             Winston-Govans  268
269                  Woodberry  269
270         Woodbourne Heights  270
271          Woodbourne-McCabe  271
272                   Woodmere  272
273                   Wrenlane  273
274                 Wyman Park  274
275                  Wyndhurst  275
276               Yale Heights  276
277              York-Homeland  277

Patterson Park and Patternson Park Neighborho are the same thing. Surprisingly this is the only duplicate. All the others are distinct neighborhoods.

In [56]:
df['Neighborhood'] = df['Neighborhood'].replace('Patterson Park Neighborho', 'Patterson Park')

In [57]:
temp =df["Neighborhood"].unique()
np.sort(temp)

array(['Abell', 'Allendale', 'Arcadia', 'Arlington', 'Armistead Gardens',
       'Ashburton', 'Baltimore Highlands', 'Barclay', 'Barre Circle',
       'Bayview', 'Beechfield', 'Belair-Edison', 'Belair-Parkside',
       'Bellona-Gittings', 'Belvedere', 'Berea', 'Better Waverly',
       'Beverly Hills', 'Biddle Street', 'Blythewood', 'Bolton Hill',
       'Boyd-Booth', 'Brewers Hill', 'Bridgeview/Greenlawn',
       'Broadway East', 'Broening Manor', 'Brooklyn', 'Burleith-Leighton',
       "Butcher's Hill", 'CARE', 'Callaway-Garrison', 'Cameron Village',
       'Canton', 'Canton Industrial Area', 'Carroll - Camden Industri',
       'Carroll Park', 'Carroll-South Hilton', 'Carrollton Ridge',
       'Cedarcroft', 'Cedmont', 'Cedonia', 'Central Forest Park',
       'Central Park Heights', 'Charles North', 'Charles Village',
       'Cherry Hill', 'Cheswolde', 'Chinquapin Park', 'Clifton Park',
       'Coldspring', 'Coldstream Homestead Mont',
       'Concerned Citizens Of For', 'Coppin Heights/Ash-Co-Eas',
       'Cross Country', 'Cross Keys', 'Curtis Bay',
       'Curtis Bay Industrial Are', 'Cylburn', 'Darley Park',
       'Dickeyville', 'Dolfield', 'Dorchester', 'Downtown',
       'Downtown West', 'Druid Heights', 'Druid Hill Park',
       'Dunbar-Broadway', 'Dundalk Marine Terminal', 'East Arlington',
       'East Baltimore Midway', 'Easterwood', 'Eastwood', 'Edgewood',
       'Edmondson Village', 'Ednor Gardens-Lakeside',
       'Ellwood Park/Monument', 'Evergreen', 'Evergreen Lawn',
       'Evesham Park', 'Fairfield Area', 'Fairmont', 'Fallstaff',
       'Federal Hill', 'Fells Point', 'Forest Park',
       'Forest Park Golf Course', 'Four By Four', 'Frankford',
       'Franklin Square', 'Franklintown', 'Franklintown Road',
       'Garwyn Oaks', 'Gay Street', 'Glen', 'Glen Oaks', 'Glenham-Belhar',
       'Graceland Park', 'Greektown', 'Greenmount Cemetery',
       'Greenmount West', 'Greenspring', 'Grove Park', 'Guilford',
       'Gwynns Falls', 'Gwynns Falls/Leakin Park', 'Hamilton Hills',
       'Hampden', 'Hanlon-Longwood', 'Harlem Park', 'Harwood',
       'Hawkins Point', 'Heritage Crossing', 'Herring Run Park',
       'Highlandtown', 'Hillen', 'Hoes Heights',
       'Holabird Industrial Park', 'Hollins Market', 'Homeland',
       'Hopkins Bayview', 'Howard Park', 'Hunting Ridge', 'Idlewood',
       'Inner Harbor', 'Irvington', 'Johns Hopkins Homewood',
       'Johnston Square', 'Jones Falls Area', 'Jonestown',
       'Kenilworth Park', 'Kernewood', 'Keswick', 'Kresson',
       'Lake Evesham', 'Lake Walker', 'Lakeland', 'Langston Hughes',
       'Lauraville', 'Levindale', 'Liberty Square', 'Little Italy',
       'Loch Raven', 'Locust Point', 'Locust Point Industrial A',
       'Lower Edmondson Village', 'Lower Herring Run Park',
       'Loyola/Notre Dame', 'Lucille Park', 'Madison Park',
       'Madison-Eastend', 'Mayfield', 'McElderry Park', 'Medfield',
       'Medford', 'Mid-Govans', 'Mid-Town Belvedere',
       'Middle Branch/Reedbird Pa', 'Middle East', 'Midtown-Edmondson',
       'Millhill', 'Milton-Montford', 'Mondawmin', 'Montebello',
       'Moravia-Walther', 'Morgan Park', 'Morgan State University',
       'Morrell Park', 'Mosher', 'Mount Holly', 'Mount Vernon',
       'Mount Washington', 'Mount Winans', 'Mt Pleasant Park',
       'New Northwood', 'New Southwest/Mount Clare', 'North Harford Road',
       'North Roland Park/Poplar', 'Northwest Community Actio',
       "O'Donnell Heights", 'Oakenshawe', 'Oaklee', 'Old Goucher',
       'Oldtown', 'Oliver', 'Orangeville', 'Orangeville Industrial Ar',
       'Orchard Ridge', 'Original Northwood', 'Otterbein', 'Overlea',
       'Panway/Braddish Avenue', 'Park Circle', 'Parklane', 'Parkside',
       'Parkview/Woodbrook', 'Patterson Park', 'Patterson Place',
       'Pen Lucy', 'Penn North', 'Penn-Fallsway',
       'Penrose/Fayette Street Ou', 'Perkins Homes', 'Perring Loch',
       'Pimlico Good Neighbors', 'Pleasant View Gardens', 'Poppleton',
       'Port Covington', 'Pulaski Industrial Area', 'Purnell',
       'Radnor-Winston', 'Ramblewood', 'Reisterstown Station',
       'Remington', 'Reservoir Hill', 'Richnor Springs',
       "Ridgely's Delight", 'Riverside', 'Rognel Heights', 'Roland Park',
       'Rosebank', 'Rosemont', 'Rosemont East',
       'Rosemont Homeowners/Tenan', 'Sabina-Mattfeldt', 'Saint Agnes',
       'Saint Helena', 'Saint Josephs', 'Saint Paul',
       'Sandtown-Winchester', 'Seton Business Park', 'Seton Hill',
       'Sharp-Leadenhall', 'Shipley Hill', 'South Baltimore',
       'South Clifton Park', 'Spring Garden Industrial', 'Stadium Area',
       'Stonewood-Pentwood-Winsto', 'Taylor Heights', 'Ten Hills',
       'The Orchards', 'Towanda-Grantley', 'Tremont',
       'Tuscany-Canterbury', 'Union Square', 'University Of Maryland',
       'Uplands', 'Upper Fells Point', 'Upton', 'Villages Of Homeland',
       'Violetville', 'Wakefield', 'Walbrook', 'Waltherson',
       'Washington Hill', 'Washington Village/Pigtow', 'Waverly',
       'West Arlington', 'West Forest Park', 'West Hills', 'Westfield',
       'Westgate', 'Westport', 'Wilhelm Park', 'Wilson Park',
       'Winchester', 'Windsor Hills', 'Winston-Govans', 'Woodberry',
       'Woodbourne Heights', 'Woodbourne-McCabe', 'Woodmere', 'Wrenlane',
       'Wyman Park', 'Wyndhurst', 'Yale Heights', 'York-Homeland'],
      dtype=object)

In [58]:
Neigh.iloc[238,]

0    Stonewood-Pentwood-Winsto
1                          238
Name: 238, dtype: object

And some of the neighborhoods are cut off. Good to know when matching demographic data.

In [59]:
District

              0  1
0       CENTRAL  0
1       EASTERN  1
2  NORTHEASTERN  2
3      NORTHERN  3
4  NORTHWESTERN  4
5  SOUTHEASTERN  5
6      SOUTHERN  6
7  SOUTHWESTERN  7
8       WESTERN  8

No problem there. Premise will be messy though.

In [60]:
Premise

               0    1
0          ALLEY    0
1      APARTMENT    1
2     APT. LOCKE    2
3      APT/CONDO    3
4          ARENA    4
5     ATM MACHIN    5
6     AUTO PARTS    6
7          Alley    7
8         BAKERY    8
9     BANK/FINAN    9
10           BAR   10
11    BARBER/BEA   11
12    BLDG UNDER   12
13     BOAT YARD   13
14     BOAT/SHIP   14
15    BOX CARS/C   15
16    BRIDGE-PIE   16
17    BUS.  STOR   17
18     BUS. PARK   18
19      BUS/AUTO   19
20    BUS/RAILRO   20
21           CAB   21
22    CAR  REPAI   22
23    CAR LOT-NE   23
24     CARRY OUT   24
25      CEMETERY   25
26    CHAIN FOOD   26
27    CLOTHING/S   27
28    CLUB HOUSE   28
29    CONSTRUCTI   29
30    CONVENIENC   30
31    CONVENTION   31
32    COURT HOUS   32
33        Church   33
34    Common Bus   34
35    DEPARTMENT   35
36    DOCTORS OF   36
37      DRIVEWAY   37
38    DRUG STORE   38
39    Day Care F   39
40      Dwelling   40
41     FAST FOOD   41
42    FINANCE/LO   42
43    FIRE DEPAR   43
44    GAS STATIO   44
45    GROCERY/CO   45
46    Gas Statio   46
47    HARDWARE/B   47
48    HOSP/NURS.   48
49    HOTEL/MOTE   49
50    HOUSE UNDE   50
51      Hospital   51
52    INNER HARB   52
53    JEWELRY ST   53
54    LAUNDRY/CL   54
55       LIBRARY   55
56    LIGHT RAIL   56
57    LIQUOR STO   57
58    MAILBOX-ST   58
59    MANUFACTUR   59
60    MARKET STA   60
61    MINI STORA   61
62    MOBILE HOM   62
63       MTA LOT   63
64    NIGHT DEPO   64
65    OFFICE BUI   65
66    OTHER - IN   66
67    OTHER - OU   67
68    OTHER/RESI   68
69          PARK   69
70    PARKING LO   70
71     PAWN SHOP   71
72    PENITENTIA   72
73    PHOTO STUD   73
74    PIZZA/OTHE   74
75    PLAYGROUND   75
76    POLICE DEP   76
77    POOL/BOWLI   77
78    PORCH/DECK   78
79    PUBLIC BUI   79
80    PUBLIC HOU   80
81    Parking Lo   81
82    Private Sc   82
83    Public Are   83
84    Public Hou   84
85    Public Sch   85
86    RACE TRACK   86
87    RAILROAD C   87
88    RECREATION   88
89     RELIGIOUS   89
90    RENTAL/VID   90
91    RESTAURANT   91
92    RETAIL/SMA   92
93    ROW/TOWNHO   93
94    SALESMAN/C   94
95        SCHOOL   95
96    SCHOOL PLA   96
97   SHED/GARAGE   97
98    SHOPPING M   98
99    SINGLE HOU   99
100      SKYWALK  100
101    SPECIALTY  101
102      STADIUM  102
103       STREET  103
104   STRUCTURE-  104
105       SUBWAY  105
106   TAVERN/NIG  106
107      THEATRE  107
108   TRACTOR TR  108
109   TRUCKING &  109
110      UNKNOWN  110
111   UTILITIES-  111
112   VACANT BUI  112
113   VACANT LOT  113
114   Vacant Dwe  114
115      Vehicle  115
116    WAREHOUSE  116
117   WHOLESALE/  117
118         YARD  118
119   YARD/BUSIN  119

Combine:

APT. LOCKE, APT/CONDO as APARTMENT

Common bus as BUS/AUTO

Gas Statio as GAS STATIO

HOSP/NURS. as Hospital

Parking Lo as PARKING LO

In [61]:
df[df["Premise"]=="Vehicle"]

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
1976,2017-08-16,HOMICIDE,Outside,FIREARM,733.0,WESTERN,Penn North,-76.64275,39.31022,Vehicle,summer,8,10,2017
2021,2017-08-15,SHOOTING,Outside,FIREARM,444.0,NORTHEASTERN,Frankford,-76.54832,39.33842,Vehicle,summer,8,23,2017
2485,2017-08-12,HOMICIDE,Outside,FIREARM,343.0,EASTERN,Oliver,-76.60318,39.30730,Vehicle,summer,8,16,2017
4269,2017-07-27,SHOOTING,Outside,FIREARM,622.0,NORTHWESTERN,Howard Park,-76.69786,39.33872,Vehicle,summer,7,22,2017
4270,2017-07-27,HOMICIDE,Outside,FIREARM,622.0,NORTHWESTERN,Howard Park,-76.69786,39.33872,Vehicle,summer,7,22,2017
5677,2017-07-16,SHOOTING,Outside,FIREARM,721.0,WESTERN,Mosher,-76.66151,39.29457,Vehicle,summer,7,1,2017
7310,2017-07-01,HOMICIDE,Outside,FIREARM,323.0,EASTERN,Biddle Street,-76.57956,39.30384,Vehicle,summer,7,15,2017
11079,2017-06-03,HOMICIDE,Outside,FIREARM,224.0,SOUTHEASTERN,Ellwood Park/Monument,-76.57143,39.29724,Vehicle,spring,6,3,2017
12608,2017-05-22,SHOOTING,Outside,FIREARM,531.0,NORTHERN,Hampden,-76.63849,39.33581,Vehicle,spring,5,2,2017
14737,2017-05-04,HOMICIDE,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60857,39.35079,Vehicle,spring,5,23,2017
16818,2017-04-17,SHOOTING,Outside,FIREARM,934.0,SOUTHERN,Carrollton Ridge,-76.64860,39.28511,Vehicle,spring,4,19,2017
16852,2017-04-17,HOMICIDE,Outside,FIREARM,443.0,NORTHEASTERN,Frankford,-76.54951,39.31854,Vehicle,spring,4,15,2017

In [62]:
df['Premise'] = df['Premise'].replace('APT. LOCKE', 'APARTMENT')
df['Premise'] = df['Premise'].replace('APT/CONDO', 'APARTMENT')
df['Premise'] = df['Premise'].replace('Common bus', 'BUS/AUTO')
df['Premise'] = df['Premise'].replace('Gas Statio', 'GAS STATIO')
df['Premise'] = df['Premise'].replace('HOSP/NURS.', 'Hospital')
df['Premise'] = df['Premise'].replace('Parking Lo', 'PARKING LO')

Vehicle as BUS/AUTO

In [63]:
df['Premise'] = df['Premise'].replace('Vehicle', 'BUS/AUTO')

In [64]:
df[df["Premise"]=="Private Sc"]

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
219186,2012-11-30,SHOOTING,Outside,FIREARM,421.0,NORTHEASTERN,Morgan State University,-76.58747,39.34001,Private Sc,autumn,11,12,2012
219187,2012-11-30,SHOOTING,Outside,FIREARM,421.0,NORTHEASTERN,Morgan State University,-76.58747,39.34001,Private Sc,autumn,11,12,2012

In [65]:
df[df["Premise"]=="Public Sch"]

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
74611,2016-01-02,SHOOTING,Outside,FIREARM,822.0,SOUTHWESTERN,Uplands,-76.69199,39.29015,Public Sch,winter,1,16,2016
76269,2015-12-20,HOMICIDE,Inside,KNIFE,132.0,CENTRAL,Madison Park,-76.62792,39.30271,Public Sch,autumn,12,12,2015
87750,2015-09-24,HOMICIDE,Outside,FIREARM,132.0,CENTRAL,Madison Park,-76.62952,39.30648,Public Sch,autumn,9,19,2015
129568,2014-11-03,HOMICIDE,Outside,FIREARM,813.0,SOUTHWESTERN,Northwest Community Actio,-76.66318,39.30465,Public Sch,autumn,11,6,2014
137502,2014-09-03,HOMICIDE,Outside,FIREARM,614.0,NORTHWESTERN,Central Park Heights,-76.67284,39.34670,Public Sch,summer,9,21,2014
146128,2014-06-29,HOMICIDE,Outside,FIREARM,932.0,SOUTHERN,Washington Village/Pigtow,-76.63487,39.28019,Public Sch,summer,6,23,2014
156163,2014-04-13,SHOOTING,Outside,FIREARM,132.0,CENTRAL,Madison Park,-76.62938,39.30636,Public Sch,spring,4,21,2014
197018,2013-05-31,HOMICIDE,Outside,FIREARM,611.0,NORTHWESTERN,Hanlon-Longwood,-76.66500,39.31839,Public Sch,spring,5,13,2013
247670,2012-05-04,HOMICIDE,Outside,FIREARM,641.0,NORTHWESTERN,Windsor Hills,-76.68290,39.31691,Public Sch,spring,5,23,2012
255595,2012-03-05,HOMICIDE,Outside,FIREARM,843.0,SOUTHWESTERN,Allendale,-76.67648,39.29186,Public Sch,winter,3,21,2012
255596,2012-03-05,HOMICIDE,Outside,FIREARM,843.0,SOUTHWESTERN,Allendale,-76.67648,39.29186,Public Sch,winter,3,21,2012
262617,2012-01-05,SHOOTING,Outside,FIREARM,841.0,SOUTHWESTERN,Millhill,-76.65796,39.28203,Public Sch,winter,1,5,2012

Merge these into SCHOOL

In [66]:
df['Premise'] = df['Premise'].replace('Private Sc', 'SCHOOL')
df['Premise'] = df['Premise'].replace('Public Sch', 'SCHOOL')

## Actually, we should convert all of the categorical variables to uppercase. This will fix many issues, as well as matching issues with the test data.

In [67]:
df.head()

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,ROBBERY - RESIDENCE,Inside,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,2017-09-02,AUTO THEFT,Outside,NONE,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,STREET,summer,9,23,2017
2,2017-09-02,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,STREET,summer,9,22,2017
3,2017-09-02,AGG. ASSAULT,Inside,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,2017-09-02,COMMON ASSAULT,Outside,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,STREET,summer,9,22,2017

In [68]:
df["Weapon"].unique()

array(['KNIFE', 'NONE', 'FIREARM', 'OTHER', 'HANDS'], dtype=object)

In [69]:
df['Inside/Outside'] = df['Inside/Outside'].str.upper()

In [70]:
df['Neighborhood'] = df['Neighborhood'].str.upper()

In [71]:
df['Premise'] = df['Premise'].str.upper()

In [72]:
df.head(20)

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,ROBBERY - RESIDENCE,INSIDE,KNIFE,913.0,SOUTHERN,BROOKLYN,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,2017-09-02,AUTO THEFT,OUTSIDE,NONE,133.0,CENTRAL,RESERVOIR HILL,-76.63217,39.31360,STREET,summer,9,23,2017
2,2017-09-02,SHOOTING,OUTSIDE,FIREARM,524.0,NORTHERN,WINSTON-GOVANS,-76.60697,39.34768,STREET,summer,9,22,2017
3,2017-09-02,AGG. ASSAULT,INSIDE,OTHER,934.0,SOUTHERN,CARROLLTON RIDGE,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,113.0,CENTRAL,DOWNTOWN WEST,-76.61365,39.28756,STREET,summer,9,22,2017
5,2017-09-02,BURGLARY,INSIDE,NONE,922.0,SOUTHERN,CHERRY HILL,-76.62131,39.24867,ROW/TOWNHO,summer,9,22,2017
6,2017-09-02,HOMICIDE,OUTSIDE,FIREARM,232.0,SOUTHEASTERN,CANTON,-76.56827,39.28202,STREET,summer,9,21,2017
7,2017-09-02,ROBBERY - STREET,OUTSIDE,NONE,123.0,CENTRAL,UPTON,-76.62789,39.30254,STREET,summer,9,21,2017
8,2017-09-02,AGG. ASSAULT,OUTSIDE,OTHER,641.0,NORTHWESTERN,WINDSOR HILLS,-76.68365,39.31370,STREET,summer,9,21,2017
9,2017-09-02,COMMON ASSAULT,INSIDE,HANDS,332.0,EASTERN,BEREA,-76.57419,39.30551,ROW/TOWNHO,summer,9,21,2017
10,2017-09-02,AGG. ASSAULT,OUTSIDE,OTHER,641.0,NORTHWESTERN,WINDSOR HILLS,-76.68365,39.31370,STREET,summer,9,21,2017
11,2017-09-02,ROBBERY - COMMERCIAL,INSIDE,FIREARM,844.0,SOUTHWESTERN,EDGEWOOD,-76.67759,39.29402,RETAIL/SMA,summer,9,20,2017
12,2017-09-02,AGG. ASSAULT,OUTSIDE,OTHER,641.0,NORTHWESTERN,WINDSOR HILLS,-76.68169,39.31400,STREET,summer,9,20,2017
13,2017-09-02,LARCENY FROM AUTO,OUTSIDE,NONE,444.0,NORTHEASTERN,FRANKFORD,-76.54270,39.33288,YARD,summer,9,20,2017
14,2017-09-02,BURGLARY,INSIDE,NONE,243.0,SOUTHEASTERN,HOLABIRD INDUSTRIAL PARK,-76.53557,39.26533,OTHER - IN,summer,9,19,2017
15,2017-09-02,SHOOTING,OUTSIDE,FIREARM,343.0,EASTERN,OLIVER,-76.60246,39.31038,STREET,summer,9,18,2017
16,2017-09-02,HOMICIDE,OUTSIDE,FIREARM,343.0,EASTERN,OLIVER,-76.60246,39.31038,STREET,summer,9,18,2017
17,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,132.0,CENTRAL,MADISON PARK,-76.62256,39.30083,STREET,summer,9,18,2017
18,2017-09-02,LARCENY,INSIDE,NONE,212.0,SOUTHEASTERN,WASHINGTON HILL,-76.59390,39.29020,CONVENIENC,summer,9,18,2017
19,2017-09-02,BURGLARY,INSIDE,NONE,426.0,NORTHEASTERN,WALTHERSON,-76.55734,39.33643,ROW/TOWNHO,summer,9,17,2017

Better. Let's check premises again.

In [73]:
temp = df["Premise"].unique()
np.sort(temp)

array(['ALLEY', 'APARTMENT', 'ARENA', 'ATM MACHIN', 'AUTO PARTS',
       'BAKERY', 'BANK/FINAN', 'BAR', 'BARBER/BEA', 'BLDG UNDER',
       'BOAT YARD', 'BOAT/SHIP', 'BOX CARS/C', 'BRIDGE-PIE', 'BUS.  STOR',
       'BUS. PARK', 'BUS/AUTO', 'BUS/RAILRO', 'CAB', 'CAR  REPAI',
       'CAR LOT-NE', 'CARRY OUT', 'CEMETERY', 'CHAIN FOOD', 'CHURCH',
       'CLOTHING/S', 'CLUB HOUSE', 'COMMON BUS', 'CONSTRUCTI',
       'CONVENIENC', 'CONVENTION', 'COURT HOUS', 'DAY CARE F',
       'DEPARTMENT', 'DOCTORS OF', 'DRIVEWAY', 'DRUG STORE', 'DWELLING',
       'FAST FOOD', 'FINANCE/LO', 'FIRE DEPAR', 'GAS STATIO',
       'GROCERY/CO', 'HARDWARE/B', 'HOSPITAL', 'HOTEL/MOTE', 'HOUSE UNDE',
       'INNER HARB', 'JEWELRY ST', 'LAUNDRY/CL', 'LIBRARY', 'LIGHT RAIL',
       'LIQUOR STO', 'MAILBOX-ST', 'MANUFACTUR', 'MARKET STA',
       'MINI STORA', 'MOBILE HOM', 'MTA LOT', 'NIGHT DEPO', 'OFFICE BUI',
       'OTHER - IN', 'OTHER - OU', 'OTHER/RESI', 'PARK', 'PARKING LO',
       'PAWN SHOP', 'PENITENTIA', 'PHOTO STUD', 'PIZZA/OTHE',
       'PLAYGROUND', 'POLICE DEP', 'POOL/BOWLI', 'PORCH/DECK',
       'PUBLIC ARE', 'PUBLIC BUI', 'PUBLIC HOU', 'RACE TRACK',
       'RAILROAD C', 'RECREATION', 'RELIGIOUS', 'RENTAL/VID',
       'RESTAURANT', 'RETAIL/SMA', 'ROW/TOWNHO', 'SALESMAN/C', 'SCHOOL',
       'SCHOOL PLA', 'SHED/GARAGE', 'SHOPPING M', 'SINGLE HOU', 'SKYWALK',
       'SPECIALTY', 'STADIUM', 'STREET', 'STRUCTURE-', 'SUBWAY',
       'TAVERN/NIG', 'THEATRE', 'TRACTOR TR', 'TRUCKING &', 'UNKNOWN',
       'UTILITIES-', 'VACANT BUI', 'VACANT DWE', 'VACANT LOT',
       'WAREHOUSE', 'WHOLESALE/', 'YARD', 'YARD/BUSIN'], dtype=object)

In [74]:
df["Premise"][df["Premise"]=="TAVERN/NIG"].count()

211

In [75]:
df["Premise"][df["Premise"]=="BAR"].count()

1366

TAVERN/NIG as BAR

In [76]:
df['Premise'] = df['Premise'].replace('TAVERN/NIG', 'BAR')

In [77]:
df["Premise"][df["Premise"]=="RAILROAD C"].count()

7

In [78]:
df["Premise"][df["Premise"]=="BUS/RAILRO"].count()

287

RAILROAD C to BUS/RAILRO

In [79]:
df['Premise'] = df['Premise'].replace('RAILROAD C', 'BUS/RAILRO')

In [80]:
df['Premise'] = df['Premise'].replace('COMMON BUS', 'BUS/AUTO')

In [81]:
df["Premise"][df["Premise"]=="CHURCH"].count()

1

CHURCH into RELIGIOUS

In [82]:
df['Premise'] = df['Premise'].replace('CHURCH', 'RELIGIOUS')

In [83]:
df["Premise"][df["Premise"]=="ARENA"].count()

12

ARENA into STADIUM

In [84]:
df['Premise'] = df['Premise'].replace('ARENA', 'STADIUM')

YARD/BUSIN into YARD

In [85]:
df['Premise'] = df['Premise'].replace('YARD/BUSIN', 'YARD')

In [86]:
df['Premise'].unique()

array(['ROW/TOWNHO', 'STREET', 'RETAIL/SMA', 'YARD', 'OTHER - IN',
       'CONVENIENC', 'OFFICE BUI', 'APARTMENT', 'PARKING LO',
       'LAUNDRY/CL', 'CARRY OUT', 'HOSPITAL', 'RESTAURANT', 'BAR',
       'SHED/GARAGE', 'ALLEY', 'DRIVEWAY', 'PORCH/DECK', 'TRACTOR TR',
       'GAS STATIO', 'PLAYGROUND', 'BUS/AUTO', 'DRUG STORE', 'PARK',
       'GROCERY/CO', 'CAR LOT-NE', 'SHOPPING M', 'LIQUOR STO',
       'CHAIN FOOD', 'OTHER - OU', 'POLICE DEP', 'CLOTHING/S',
       'SPECIALTY', 'POOL/BOWLI', 'INNER HARB', 'VACANT BUI', 'SCHOOL',
       'OTHER/RESI', 'HOTEL/MOTE', 'DEPARTMENT', 'WAREHOUSE',
       'BUS.  STOR', 'RELIGIOUS', 'DWELLING', 'BARBER/BEA', 'SINGLE HOU',
       'PUBLIC BUI', 'MINI STORA', 'FAST FOOD', 'DOCTORS OF', 'STADIUM',
       'HOUSE UNDE', 'UNKNOWN', 'BUS/RAILRO', 'LIBRARY', 'CAR  REPAI',
       'AUTO PARTS', 'CONSTRUCTI', 'WHOLESALE/', 'FIRE DEPAR',
       'PUBLIC HOU', 'RACE TRACK', 'RECREATION', 'BUS. PARK',
       'BANK/FINAN', 'MARKET STA', 'CEMETERY', 'BLDG UNDER', 'FINANCE/LO',
       'COURT HOUS', 'BAKERY', 'BOX CARS/C', 'PUBLIC ARE', 'PAWN SHOP',
       'BOAT/SHIP', 'VACANT LOT', 'CLUB HOUSE', 'HARDWARE/B',
       'CONVENTION', 'MAILBOX-ST', 'SCHOOL PLA', 'SUBWAY', 'CAB',
       'DAY CARE F', 'PENITENTIA', 'JEWELRY ST', 'MANUFACTUR',
       'PIZZA/OTHE', 'THEATRE', 'ATM MACHIN', 'BRIDGE-PIE', 'VACANT DWE',
       'BOAT YARD', 'NIGHT DEPO', 'STRUCTURE-', 'SALESMAN/C',
       'RENTAL/VID', 'LIGHT RAIL', 'PHOTO STUD', 'UTILITIES-', 'MTA LOT',
       'SKYWALK', 'TRUCKING &', 'MOBILE HOM'], dtype=object)

In [87]:
df["Premise"][df["Premise"]=="PIZZA/OTHE"].count()

44

Think this qualifies as a restaurant.

In [88]:
df['Premise'] = df['Premise'].replace('PIZZA/OTHE', 'RESTAURANT')

Let's document all these changes in a separate .py file so we can reproduce this on the test data.

A similar process will need to be done on the test data.

In [89]:
df['Description'] = df['Description'].replace('RAPE', 'SEXUAL ASSAULT')

In [90]:
df['Premise'].value_counts()

STREET         102546
ROW/TOWNHO      60113
APARTMENT       12064
PARKING LO      11945
OTHER - IN      11358
SCHOOL           7600
CONVENIENC       4287
RETAIL/SMA       3700
YARD             3700
OTHER - OU       3364
OTHER/RESI       2991
ALLEY            2847
GROCERY/CO       2837
SHED/GARAGE      2658
HOSPITAL         1981
GAS STATIO       1665
SINGLE HOU       1611
BAR              1577
DRUG STORE       1560
RESTAURANT       1548
DRIVEWAY         1532
SPECIALTY        1333
UNKNOWN          1271
OFFICE BUI       1057
HOTEL/MOTE       1025
PORCH/DECK        975
BUS/AUTO          903
DEPARTMENT        875
PARK              861
VACANT BUI        764
RELIGIOUS         626
LIQUOR STO        573
SHOPPING M        547
PUBLIC HOU        502
CARRY OUT         487
DWELLING          405
CLOTHING/S        359
CONSTRUCTI        352
BUS. PARK         342
BARBER/BEA        342
FAST FOOD         318
STADIUM           297
BUS/RAILRO        294
CAR LOT-NE        287
CAR  REPAI        278
PUBLIC BUI        277
LIGHT RAIL        275
MARKET STA        243
RECREATION        237
AUTO PARTS        215
BANK/FINAN        212
WHOLESALE/        212
WAREHOUSE         208
LAUNDRY/CL        187
SUBWAY            183
POLICE DEP        181
PLAYGROUND        174
RACE TRACK        155
HARDWARE/B        153
PUBLIC ARE        145
COURT HOUS        135
DOCTORS OF        103
INNER HARB        102
LIBRARY           102
CONVENTION         96
MINI STORA         88
CHAIN FOOD         75
CLUB HOUSE         67
BUS.  STOR         52
ATM MACHIN         48
HOUSE UNDE         43
FIRE DEPAR         43
VACANT LOT         41
BAKERY             41
SALESMAN/C         39
PAWN SHOP          38
CEMETERY           30
SCHOOL PLA         29
NIGHT DEPO         28
THEATRE            28
JEWELRY ST         28
POOL/BOWLI         27
CAB                26
BRIDGE-PIE         25
MTA LOT            25
BOAT/SHIP          22
VACANT DWE         17
PENITENTIA         15
UTILITIES-         12
BOAT YARD          11
MAILBOX-ST          9
RENTAL/VID          9
BLDG UNDER          9
TRACTOR TR          9
FINANCE/LO          8
STRUCTURE-          8
SKYWALK             6
TRUCKING &          5
PHOTO STUD          3
BOX CARS/C          2
MANUFACTUR          1
MOBILE HOM          1
DAY CARE F          1
Name: Premise, dtype: int64

Let's combine some of the ones with 9 or fewer counts.

DAY CARE F to SCHOOL PLA

MANUFACTUR to WAREHOUSE

MOBILE HOM to DWELLING

BOX CARS/C to BUS/RAILRO

PHOTO STUD to RETAIL/SMA

TRUCKING & to TRACTOR TR

SKYWALK to PUBLIC ARE

FINANCE/LO to BANK/FINAN

STRUCTURE- to UNKNOWN

BLDG UNDER to CONSTRUCTI

HOUSE UNDE to CONSTRUCTI

MAILBOX-ST to STREET

RENTAL/VID to RETAIL/SMA

In [91]:
df['Premise'] = df['Premise'].replace('DAY CARE F', 'SCHOOL PLA')
df['Premise'] = df['Premise'].replace('MANUFACTUR', 'WAREHOUSE')
df['Premise'] = df['Premise'].replace('MOBILE HOM', 'DWELLING')
df['Premise'] = df['Premise'].replace('BOX CARS/C', 'BUS/RAILRO')
df['Premise'] = df['Premise'].replace('PHOTO STUD', 'RETAIL/SMA')
df['Premise'] = df['Premise'].replace('TRUCKING &', 'TRACTOR TR')
df['Premise'] = df['Premise'].replace('SKYWALK', 'PUBLIC ARE')
df['Premise'] = df['Premise'].replace('FINANCE/LO', 'BANK/FINAN')
df['Premise'] = df['Premise'].replace('STRUCTURE-', 'UNKNOWN')
df['Premise'] = df['Premise'].replace('BLDG UNDER', 'CONSTRUCTI')
df['Premise'] = df['Premise'].replace('HOUSE UNDE', 'CONSTRUCTI')
df['Premise'] = df['Premise'].replace('MAILBOX-ST', 'STREET')
df['Premise'] = df['Premise'].replace('RENTAL/VID', 'RETAIL/SMA')

In [92]:
df['Premise'].value_counts()

STREET         102555
ROW/TOWNHO      60113
APARTMENT       12064
PARKING LO      11945
OTHER - IN      11358
SCHOOL           7600
CONVENIENC       4287
RETAIL/SMA       3712
YARD             3700
OTHER - OU       3364
OTHER/RESI       2991
ALLEY            2847
GROCERY/CO       2837
SHED/GARAGE      2658
HOSPITAL         1981
GAS STATIO       1665
SINGLE HOU       1611
BAR              1577
DRUG STORE       1560
RESTAURANT       1548
DRIVEWAY         1532
SPECIALTY        1333
UNKNOWN          1279
OFFICE BUI       1057
HOTEL/MOTE       1025
PORCH/DECK        975
BUS/AUTO          903
DEPARTMENT        875
PARK              861
VACANT BUI        764
RELIGIOUS         626
LIQUOR STO        573
SHOPPING M        547
PUBLIC HOU        502
CARRY OUT         487
DWELLING          406
CONSTRUCTI        404
CLOTHING/S        359
BARBER/BEA        342
BUS. PARK         342
FAST FOOD         318
STADIUM           297
BUS/RAILRO        296
CAR LOT-NE        287
CAR  REPAI        278
PUBLIC BUI        277
LIGHT RAIL        275
MARKET STA        243
RECREATION        237
BANK/FINAN        220
AUTO PARTS        215
WHOLESALE/        212
WAREHOUSE         209
LAUNDRY/CL        187
SUBWAY            183
POLICE DEP        181
PLAYGROUND        174
RACE TRACK        155
HARDWARE/B        153
PUBLIC ARE        151
COURT HOUS        135
DOCTORS OF        103
LIBRARY           102
INNER HARB        102
CONVENTION         96
MINI STORA         88
CHAIN FOOD         75
CLUB HOUSE         67
BUS.  STOR         52
ATM MACHIN         48
FIRE DEPAR         43
VACANT LOT         41
BAKERY             41
SALESMAN/C         39
PAWN SHOP          38
CEMETERY           30
SCHOOL PLA         30
THEATRE            28
NIGHT DEPO         28
JEWELRY ST         28
POOL/BOWLI         27
CAB                26
MTA LOT            25
BRIDGE-PIE         25
BOAT/SHIP          22
VACANT DWE         17
PENITENTIA         15
TRACTOR TR         14
UTILITIES-         12
BOAT YARD          11
Name: Premise, dtype: int64

That should work much better.

In [93]:
df.head()

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,ROBBERY - RESIDENCE,INSIDE,KNIFE,913.0,SOUTHERN,BROOKLYN,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,2017-09-02,AUTO THEFT,OUTSIDE,NONE,133.0,CENTRAL,RESERVOIR HILL,-76.63217,39.31360,STREET,summer,9,23,2017
2,2017-09-02,SHOOTING,OUTSIDE,FIREARM,524.0,NORTHERN,WINSTON-GOVANS,-76.60697,39.34768,STREET,summer,9,22,2017
3,2017-09-02,AGG. ASSAULT,INSIDE,OTHER,934.0,SOUTHERN,CARROLLTON RIDGE,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,113.0,CENTRAL,DOWNTOWN WEST,-76.61365,39.28756,STREET,summer,9,22,2017

Let's save this for merging with the demographics data.

In [46]:
df.to_csv("../data/V2_BPD_CRIME_DATA_CLEAN.csv")

And now let's redo the encoding.

In [94]:
from sklearn.preprocessing import LabelEncoder
lbl = LabelEncoder()

In [95]:
df["Description"] = lbl.fit_transform(df[df.columns[1]])
Description = dict(zip(lbl.classes_, lbl.transform(lbl.classes_)))
Description

{'AGG. ASSAULT': 0,
 'ARSON': 1,
 'ASSAULT BY THREAT': 2,
 'AUTO THEFT': 3,
 'BURGLARY': 4,
 'COMMON ASSAULT': 5,
 'HOMICIDE': 6,
 'LARCENY': 7,
 'LARCENY FROM AUTO': 8,
 'ROBBERY - CARJACKING': 9,
 'ROBBERY - COMMERCIAL': 10,
 'ROBBERY - RESIDENCE': 11,
 'ROBBERY - STREET': 12,
 'SEXUAL ASSAULT': 13,
 'SHOOTING': 14}

In [96]:
df["District"] = lbl.fit_transform(df[df.columns[5]])
District = dict(zip(lbl.classes_, lbl.transform(lbl.classes_)))
District

{'CENTRAL': 0,
 'EASTERN': 1,
 'NORTHEASTERN': 2,
 'NORTHERN': 3,
 'NORTHWESTERN': 4,
 'SOUTHEASTERN': 5,
 'SOUTHERN': 6,
 'SOUTHWESTERN': 7,
 'WESTERN': 8}

In [97]:
df["Neighborhood"] = lbl.fit_transform(df[df.columns[6]])
Neighborhood = dict(zip(lbl.classes_, lbl.transform(lbl.classes_)))
Neighborhood

{'ABELL': 0,
 'ALLENDALE': 1,
 'ARCADIA': 2,
 'ARLINGTON': 3,
 'ARMISTEAD GARDENS': 4,
 'ASHBURTON': 5,
 'BALTIMORE HIGHLANDS': 6,
 'BARCLAY': 7,
 'BARRE CIRCLE': 8,
 'BAYVIEW': 9,
 'BEECHFIELD': 10,
 'BELAIR-EDISON': 11,
 'BELAIR-PARKSIDE': 12,
 'BELLONA-GITTINGS': 13,
 'BELVEDERE': 14,
 'BEREA': 15,
 'BETTER WAVERLY': 16,
 'BEVERLY HILLS': 17,
 'BIDDLE STREET': 18,
 'BLYTHEWOOD': 19,
 'BOLTON HILL': 20,
 'BOYD-BOOTH': 21,
 'BREWERS HILL': 22,
 'BRIDGEVIEW/GREENLAWN': 23,
 'BROADWAY EAST': 24,
 'BROENING MANOR': 25,
 'BROOKLYN': 26,
 'BURLEITH-LEIGHTON': 27,
 "BUTCHER'S HILL": 28,
 'CALLAWAY-GARRISON': 29,
 'CAMERON VILLAGE': 30,
 'CANTON': 31,
 'CANTON INDUSTRIAL AREA': 32,
 'CARE': 33,
 'CARROLL - CAMDEN INDUSTRI': 34,
 'CARROLL PARK': 35,
 'CARROLL-SOUTH HILTON': 36,
 'CARROLLTON RIDGE': 37,
 'CEDARCROFT': 38,
 'CEDMONT': 39,
 'CEDONIA': 40,
 'CENTRAL FOREST PARK': 41,
 'CENTRAL PARK HEIGHTS': 42,
 'CHARLES NORTH': 43,
 'CHARLES VILLAGE': 44,
 'CHERRY HILL': 45,
 'CHESWOLDE': 46,
 'CHINQUAPIN PARK': 47,
 'CLIFTON PARK': 48,
 'COLDSPRING': 49,
 'COLDSTREAM HOMESTEAD MONT': 50,
 'CONCERNED CITIZENS OF FOR': 51,
 'COPPIN HEIGHTS/ASH-CO-EAS': 52,
 'CROSS COUNTRY': 53,
 'CROSS KEYS': 54,
 'CURTIS BAY': 55,
 'CURTIS BAY INDUSTRIAL ARE': 56,
 'CYLBURN': 57,
 'DARLEY PARK': 58,
 'DICKEYVILLE': 59,
 'DOLFIELD': 60,
 'DORCHESTER': 61,
 'DOWNTOWN': 62,
 'DOWNTOWN WEST': 63,
 'DRUID HEIGHTS': 64,
 'DRUID HILL PARK': 65,
 'DUNBAR-BROADWAY': 66,
 'DUNDALK MARINE TERMINAL': 67,
 'EAST ARLINGTON': 68,
 'EAST BALTIMORE MIDWAY': 69,
 'EASTERWOOD': 70,
 'EASTWOOD': 71,
 'EDGEWOOD': 72,
 'EDMONDSON VILLAGE': 73,
 'EDNOR GARDENS-LAKESIDE': 74,
 'ELLWOOD PARK/MONUMENT': 75,
 'EVERGREEN': 76,
 'EVERGREEN LAWN': 77,
 'EVESHAM PARK': 78,
 'FAIRFIELD AREA': 79,
 'FAIRMONT': 80,
 'FALLSTAFF': 81,
 'FEDERAL HILL': 82,
 'FELLS POINT': 83,
 'FOREST PARK': 84,
 'FOREST PARK GOLF COURSE': 85,
 'FOUR BY FOUR': 86,
 'FRANKFORD': 87,
 'FRANKLIN SQUARE': 88,
 'FRANKLINTOWN': 89,
 'FRANKLINTOWN ROAD': 90,
 'GARWYN OAKS': 91,
 'GAY STREET': 92,
 'GLEN': 93,
 'GLEN OAKS': 94,
 'GLENHAM-BELHAR': 95,
 'GRACELAND PARK': 96,
 'GREEKTOWN': 97,
 'GREENMOUNT CEMETERY': 98,
 'GREENMOUNT WEST': 99,
 'GREENSPRING': 100,
 'GROVE PARK': 101,
 'GUILFORD': 102,
 'GWYNNS FALLS': 103,
 'GWYNNS FALLS/LEAKIN PARK': 104,
 'HAMILTON HILLS': 105,
 'HAMPDEN': 106,
 'HANLON-LONGWOOD': 107,
 'HARLEM PARK': 108,
 'HARWOOD': 109,
 'HAWKINS POINT': 110,
 'HERITAGE CROSSING': 111,
 'HERRING RUN PARK': 112,
 'HIGHLANDTOWN': 113,
 'HILLEN': 114,
 'HOES HEIGHTS': 115,
 'HOLABIRD INDUSTRIAL PARK': 116,
 'HOLLINS MARKET': 117,
 'HOMELAND': 118,
 'HOPKINS BAYVIEW': 119,
 'HOWARD PARK': 120,
 'HUNTING RIDGE': 121,
 'IDLEWOOD': 122,
 'INNER HARBOR': 123,
 'IRVINGTON': 124,
 'JOHNS HOPKINS HOMEWOOD': 125,
 'JOHNSTON SQUARE': 126,
 'JONES FALLS AREA': 127,
 'JONESTOWN': 128,
 'KENILWORTH PARK': 129,
 'KERNEWOOD': 130,
 'KESWICK': 131,
 'KRESSON': 132,
 'LAKE EVESHAM': 133,
 'LAKE WALKER': 134,
 'LAKELAND': 135,
 'LANGSTON HUGHES': 136,
 'LAURAVILLE': 137,
 'LEVINDALE': 138,
 'LIBERTY SQUARE': 139,
 'LITTLE ITALY': 140,
 'LOCH RAVEN': 141,
 'LOCUST POINT': 142,
 'LOCUST POINT INDUSTRIAL A': 143,
 'LOWER EDMONDSON VILLAGE': 144,
 'LOWER HERRING RUN PARK': 145,
 'LOYOLA/NOTRE DAME': 146,
 'LUCILLE PARK': 147,
 'MADISON PARK': 148,
 'MADISON-EASTEND': 149,
 'MAYFIELD': 150,
 'MCELDERRY PARK': 151,
 'MEDFIELD': 152,
 'MEDFORD': 153,
 'MID-GOVANS': 154,
 'MID-TOWN BELVEDERE': 155,
 'MIDDLE BRANCH/REEDBIRD PA': 156,
 'MIDDLE EAST': 157,
 'MIDTOWN-EDMONDSON': 158,
 'MILLHILL': 159,
 'MILTON-MONTFORD': 160,
 'MONDAWMIN': 161,
 'MONTEBELLO': 162,
 'MORAVIA-WALTHER': 163,
 'MORGAN PARK': 164,
 'MORGAN STATE UNIVERSITY': 165,
 'MORRELL PARK': 166,
 'MOSHER': 167,
 'MOUNT HOLLY': 168,
 'MOUNT VERNON': 169,
 'MOUNT WASHINGTON': 170,
 'MOUNT WINANS': 171,
 'MT PLEASANT PARK': 172,
 'NEW NORTHWOOD': 173,
 'NEW SOUTHWEST/MOUNT CLARE': 174,
 'NORTH HARFORD ROAD': 175,
 'NORTH ROLAND PARK/POPLAR': 176,
 'NORTHWEST COMMUNITY ACTIO': 177,
 "O'DONNELL HEIGHTS": 178,
 'OAKENSHAWE': 179,
 'OAKLEE': 180,
 'OLD GOUCHER': 181,
 'OLDTOWN': 182,
 'OLIVER': 183,
 'ORANGEVILLE': 184,
 'ORANGEVILLE INDUSTRIAL AR': 185,
 'ORCHARD RIDGE': 186,
 'ORIGINAL NORTHWOOD': 187,
 'OTTERBEIN': 188,
 'OVERLEA': 189,
 'PANWAY/BRADDISH AVENUE': 190,
 'PARK CIRCLE': 191,
 'PARKLANE': 192,
 'PARKSIDE': 193,
 'PARKVIEW/WOODBROOK': 194,
 'PATTERSON PARK': 195,
 'PATTERSON PLACE': 196,
 'PEN LUCY': 197,
 'PENN NORTH': 198,
 'PENN-FALLSWAY': 199,
 'PENROSE/FAYETTE STREET OU': 200,
 'PERKINS HOMES': 201,
 'PERRING LOCH': 202,
 'PIMLICO GOOD NEIGHBORS': 203,
 'PLEASANT VIEW GARDENS': 204,
 'POPPLETON': 205,
 'PORT COVINGTON': 206,
 'PULASKI INDUSTRIAL AREA': 207,
 'PURNELL': 208,
 'RADNOR-WINSTON': 209,
 'RAMBLEWOOD': 210,
 'REISTERSTOWN STATION': 211,
 'REMINGTON': 212,
 'RESERVOIR HILL': 213,
 'RICHNOR SPRINGS': 214,
 "RIDGELY'S DELIGHT": 215,
 'RIVERSIDE': 216,
 'ROGNEL HEIGHTS': 217,
 'ROLAND PARK': 218,
 'ROSEBANK': 219,
 'ROSEMONT': 220,
 'ROSEMONT EAST': 221,
 'ROSEMONT HOMEOWNERS/TENAN': 222,
 'SABINA-MATTFELDT': 223,
 'SAINT AGNES': 224,
 'SAINT HELENA': 225,
 'SAINT JOSEPHS': 226,
 'SAINT PAUL': 227,
 'SANDTOWN-WINCHESTER': 228,
 'SETON BUSINESS PARK': 229,
 'SETON HILL': 230,
 'SHARP-LEADENHALL': 231,
 'SHIPLEY HILL': 232,
 'SOUTH BALTIMORE': 233,
 'SOUTH CLIFTON PARK': 234,
 'SPRING GARDEN INDUSTRIAL': 235,
 'STADIUM AREA': 236,
 'STONEWOOD-PENTWOOD-WINSTO': 237,
 'TAYLOR HEIGHTS': 238,
 'TEN HILLS': 239,
 'THE ORCHARDS': 240,
 'TOWANDA-GRANTLEY': 241,
 'TREMONT': 242,
 'TUSCANY-CANTERBURY': 243,
 'UNION SQUARE': 244,
 'UNIVERSITY OF MARYLAND': 245,
 'UPLANDS': 246,
 'UPPER FELLS POINT': 247,
 'UPTON': 248,
 'VILLAGES OF HOMELAND': 249,
 'VIOLETVILLE': 250,
 'WAKEFIELD': 251,
 'WALBROOK': 252,
 'WALTHERSON': 253,
 'WASHINGTON HILL': 254,
 'WASHINGTON VILLAGE/PIGTOW': 255,
 'WAVERLY': 256,
 'WEST ARLINGTON': 257,
 'WEST FOREST PARK': 258,
 'WEST HILLS': 259,
 'WESTFIELD': 260,
 'WESTGATE': 261,
 'WESTPORT': 262,
 'WILHELM PARK': 263,
 'WILSON PARK': 264,
 'WINCHESTER': 265,
 'WINDSOR HILLS': 266,
 'WINSTON-GOVANS': 267,
 'WOODBERRY': 268,
 'WOODBOURNE HEIGHTS': 269,
 'WOODBOURNE-MCCABE': 270,
 'WOODMERE': 271,
 'WRENLANE': 272,
 'WYMAN PARK': 273,
 'WYNDHURST': 274,
 'YALE HEIGHTS': 275,
 'YORK-HOMELAND': 276}

In [98]:
df["Premise"] = lbl.fit_transform(df[df.columns[9]])
Premise = dict(zip(lbl.classes_, lbl.transform(lbl.classes_)))
Premise

{'ALLEY': 0,
 'APARTMENT': 1,
 'ATM MACHIN': 2,
 'AUTO PARTS': 3,
 'BAKERY': 4,
 'BANK/FINAN': 5,
 'BAR': 6,
 'BARBER/BEA': 7,
 'BOAT YARD': 8,
 'BOAT/SHIP': 9,
 'BRIDGE-PIE': 10,
 'BUS.  STOR': 11,
 'BUS. PARK': 12,
 'BUS/AUTO': 13,
 'BUS/RAILRO': 14,
 'CAB': 15,
 'CAR  REPAI': 16,
 'CAR LOT-NE': 17,
 'CARRY OUT': 18,
 'CEMETERY': 19,
 'CHAIN FOOD': 20,
 'CLOTHING/S': 21,
 'CLUB HOUSE': 22,
 'CONSTRUCTI': 23,
 'CONVENIENC': 24,
 'CONVENTION': 25,
 'COURT HOUS': 26,
 'DEPARTMENT': 27,
 'DOCTORS OF': 28,
 'DRIVEWAY': 29,
 'DRUG STORE': 30,
 'DWELLING': 31,
 'FAST FOOD': 32,
 'FIRE DEPAR': 33,
 'GAS STATIO': 34,
 'GROCERY/CO': 35,
 'HARDWARE/B': 36,
 'HOSPITAL': 37,
 'HOTEL/MOTE': 38,
 'INNER HARB': 39,
 'JEWELRY ST': 40,
 'LAUNDRY/CL': 41,
 'LIBRARY': 42,
 'LIGHT RAIL': 43,
 'LIQUOR STO': 44,
 'MARKET STA': 45,
 'MINI STORA': 46,
 'MTA LOT': 47,
 'NIGHT DEPO': 48,
 'OFFICE BUI': 49,
 'OTHER - IN': 50,
 'OTHER - OU': 51,
 'OTHER/RESI': 52,
 'PARK': 53,
 'PARKING LO': 54,
 'PAWN SHOP': 55,
 'PENITENTIA': 56,
 'PLAYGROUND': 57,
 'POLICE DEP': 58,
 'POOL/BOWLI': 59,
 'PORCH/DECK': 60,
 'PUBLIC ARE': 61,
 'PUBLIC BUI': 62,
 'PUBLIC HOU': 63,
 'RACE TRACK': 64,
 'RECREATION': 65,
 'RELIGIOUS': 66,
 'RESTAURANT': 67,
 'RETAIL/SMA': 68,
 'ROW/TOWNHO': 69,
 'SALESMAN/C': 70,
 'SCHOOL': 71,
 'SCHOOL PLA': 72,
 'SHED/GARAGE': 73,
 'SHOPPING M': 74,
 'SINGLE HOU': 75,
 'SPECIALTY': 76,
 'STADIUM': 77,
 'STREET': 78,
 'SUBWAY': 79,
 'THEATRE': 80,
 'TRACTOR TR': 81,
 'UNKNOWN': 82,
 'UTILITIES-': 83,
 'VACANT BUI': 84,
 'VACANT DWE': 85,
 'VACANT LOT': 86,
 'WAREHOUSE': 87,
 'WHOLESALE/': 88,
 'YARD': 89}

In [99]:
df.head()

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,2017-09-02,11,INSIDE,KNIFE,913.0,6,26,-76.60541,39.22951,69,summer,9,23,2017
1,2017-09-02,3,OUTSIDE,NONE,133.0,0,213,-76.63217,39.31360,78,summer,9,23,2017
2,2017-09-02,14,OUTSIDE,FIREARM,524.0,3,267,-76.60697,39.34768,78,summer,9,22,2017
3,2017-09-02,0,INSIDE,OTHER,934.0,6,37,-76.64526,39.28315,69,summer,9,22,2017
4,2017-09-02,5,OUTSIDE,HANDS,113.0,0,63,-76.61365,39.28756,78,summer,9,22,2017

In [100]:
df = df.drop(columns=["Longitude","Latitude","Season","Year","Post","District"])

In [101]:
df.head()

,CrimeDate,Description,Inside/Outside,Weapon,Neighborhood,Premise,Month,Hour
0,2017-09-02,11,INSIDE,KNIFE,26,69,9,23
1,2017-09-02,3,OUTSIDE,NONE,213,78,9,23
2,2017-09-02,14,OUTSIDE,FIREARM,267,78,9,22
3,2017-09-02,0,INSIDE,OTHER,37,69,9,22
4,2017-09-02,5,OUTSIDE,HANDS,63,78,9,22

In [102]:
df = pd.get_dummies(df, columns=["Inside/Outside"],drop_first=True)
df= df.rename(columns={"Inside/Outside_OUTSIDE":"Outside"})

In [103]:
df = pd.get_dummies(df, columns=["Weapon"])

In [104]:
df.head(20)

,CrimeDate,Description,Neighborhood,Premise,Month,Hour,Inside/Outside_OUTSIDE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER
0,2017-09-02,11,26,69,9,23,0,0,0,1,0,0
1,2017-09-02,3,213,78,9,23,1,0,0,0,1,0
2,2017-09-02,14,267,78,9,22,1,1,0,0,0,0
3,2017-09-02,0,37,69,9,22,0,0,0,0,0,1
4,2017-09-02,5,63,78,9,22,1,0,1,0,0,0
5,2017-09-02,4,45,69,9,22,0,0,0,0,1,0
6,2017-09-02,6,31,78,9,21,1,1,0,0,0,0
7,2017-09-02,12,248,78,9,21,1,0,0,0,1,0
8,2017-09-02,0,266,78,9,21,1,0,0,0,0,1
9,2017-09-02,5,15,69,9,21,0,0,1,0,0,0
10,2017-09-02,0,266,78,9,21,1,0,0,0,0,1
11,2017-09-02,10,72,68,9,20,0,1,0,0,0,0
12,2017-09-02,0,266,78,9,20,1,0,0,0,0,1
13,2017-09-02,8,87,89,9,20,1,0,0,0,1,0
14,2017-09-02,4,116,50,9,19,0,0,0,0,1,0
15,2017-09-02,14,183,78,9,18,1,1,0,0,0,0
16,2017-09-02,6,183,78,9,18,1,1,0,0,0,0
17,2017-09-02,5,148,78,9,18,1,0,1,0,0,0
18,2017-09-02,7,254,24,9,18,0,0,0,0,1,0
19,2017-09-02,4,253,69,9,17,0,0,0,0,1,0

Alright let's add columns for holidays and weekends.

In [106]:
from pandas.tseries.holiday import USFederalHolidayCalendar
calendar = USFederalHolidayCalendar()

In [107]:
df["CrimeDate"][0]

'2017-09-02'

In [109]:
len(df)

263121

In [111]:
df["CrimeDate"][263120]

'2012-01-01'

In [116]:
type(df["CrimeDate"][0])

str

Needs to be datetime.

In [119]:
df.CrimeDate = pd.to_datetime(df.CrimeDate)

In [120]:
dr = pd.date_range(start='2012-01-01', end='2017-09-02')
holidays = calendar.holidays(start=dr.min(), end=dr.max())

df['Holiday'] = df['CrimeDate'].isin(holidays)

In [121]:
df.head(10)

,CrimeDate,Description,Neighborhood,Premise,Month,Hour,Inside/Outside_OUTSIDE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday
0,2017-09-02,11,26,69,9,23,0,0,0,1,0,0,False
1,2017-09-02,3,213,78,9,23,1,0,0,0,1,0,False
2,2017-09-02,14,267,78,9,22,1,1,0,0,0,0,False
3,2017-09-02,0,37,69,9,22,0,0,0,0,0,1,False
4,2017-09-02,5,63,78,9,22,1,0,1,0,0,0,False
5,2017-09-02,4,45,69,9,22,0,0,0,0,1,0,False
6,2017-09-02,6,31,78,9,21,1,1,0,0,0,0,False
7,2017-09-02,12,248,78,9,21,1,0,0,0,1,0,False
8,2017-09-02,0,266,78,9,21,1,0,0,0,0,1,False
9,2017-09-02,5,15,69,9,21,0,0,1,0,0,0,False

In [122]:
df['Holiday'].value_counts()

False    256502
True       6619
Name: Holiday, dtype: int64

In [125]:
df['Holiday'] = df['Holiday'].replace(False, 0)
df['Holiday'] = df['Holiday'].replace(True, 1)

In [126]:
df['Holiday'].value_counts()

0    256502
1      6619
Name: Holiday, dtype: int64

And same for weekends.

In [127]:
df["CrimeDate"][0].weekday()

5

In [128]:
df["CrimeDate"][57674].weekday()

4

Weekends will be 5 and 6 (starts from 0)

In [143]:
df["Weekday"] = pd.to_datetime(df["CrimeDate"]).dt.dayofweek

In [145]:
df.head(10)

,CrimeDate,Description,Neighborhood,Premise,Month,Hour,Inside/Outside_OUTSIDE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekday
0,2017-09-02,11,26,69,9,23,0,0,0,1,0,0,0,5
1,2017-09-02,3,213,78,9,23,1,0,0,0,1,0,0,5
2,2017-09-02,14,267,78,9,22,1,1,0,0,0,0,0,5
3,2017-09-02,0,37,69,9,22,0,0,0,0,0,1,0,5
4,2017-09-02,5,63,78,9,22,1,0,1,0,0,0,0,5
5,2017-09-02,4,45,69,9,22,0,0,0,0,1,0,0,5
6,2017-09-02,6,31,78,9,21,1,1,0,0,0,0,0,5
7,2017-09-02,12,248,78,9,21,1,0,0,0,1,0,0,5
8,2017-09-02,0,266,78,9,21,1,0,0,0,0,1,0,5
9,2017-09-02,5,15,69,9,21,0,0,1,0,0,0,0,5

In [148]:
df["Weekend"] = (df["Weekday"] > 4).astype(int)

In [149]:
df.head(10)

,CrimeDate,Description,Neighborhood,Premise,Month,Hour,Inside/Outside_OUTSIDE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekday,Weekend
0,2017-09-02,11,26,69,9,23,0,0,0,1,0,0,0,5,1
1,2017-09-02,3,213,78,9,23,1,0,0,0,1,0,0,5,1
2,2017-09-02,14,267,78,9,22,1,1,0,0,0,0,0,5,1
3,2017-09-02,0,37,69,9,22,0,0,0,0,0,1,0,5,1
4,2017-09-02,5,63,78,9,22,1,0,1,0,0,0,0,5,1
5,2017-09-02,4,45,69,9,22,0,0,0,0,1,0,0,5,1
6,2017-09-02,6,31,78,9,21,1,1,0,0,0,0,0,5,1
7,2017-09-02,12,248,78,9,21,1,0,0,0,1,0,0,5,1
8,2017-09-02,0,266,78,9,21,1,0,0,0,0,1,0,5,1
9,2017-09-02,5,15,69,9,21,0,0,1,0,0,0,0,5,1

In [150]:
df["Weekend"][57674]

0

In [151]:
df = df.drop(columns=["Weekday"])

In [156]:
df.head(20)

,CrimeDate,Description,Neighborhood,Premise,Month,Hour,Outside,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend
0,2017-09-02,11,26,69,9,23,0,0,0,1,0,0,0,1
1,2017-09-02,3,213,78,9,23,1,0,0,0,1,0,0,1
2,2017-09-02,14,267,78,9,22,1,1,0,0,0,0,0,1
3,2017-09-02,0,37,69,9,22,0,0,0,0,0,1,0,1
4,2017-09-02,5,63,78,9,22,1,0,1,0,0,0,0,1
5,2017-09-02,4,45,69,9,22,0,0,0,0,1,0,0,1
6,2017-09-02,6,31,78,9,21,1,1,0,0,0,0,0,1
7,2017-09-02,12,248,78,9,21,1,0,0,0,1,0,0,1
8,2017-09-02,0,266,78,9,21,1,0,0,0,0,1,0,1
9,2017-09-02,5,15,69,9,21,0,0,1,0,0,0,0,1
10,2017-09-02,0,266,78,9,21,1,0,0,0,0,1,0,1
11,2017-09-02,10,72,68,9,20,0,1,0,0,0,0,0,1
12,2017-09-02,0,266,78,9,20,1,0,0,0,0,1,0,1
13,2017-09-02,8,87,89,9,20,1,0,0,0,1,0,0,1
14,2017-09-02,4,116,50,9,19,0,0,0,0,1,0,0,1
15,2017-09-02,14,183,78,9,18,1,1,0,0,0,0,0,1
16,2017-09-02,6,183,78,9,18,1,1,0,0,0,0,0,1
17,2017-09-02,5,148,78,9,18,1,0,1,0,0,0,0,1
18,2017-09-02,7,254,24,9,18,0,0,0,0,1,0,0,1
19,2017-09-02,4,253,69,9,17,0,0,0,0,1,0,0,1

In [157]:
df.to_csv("../data/V2_BPD_CRIME_DATA_ENCODED.csv")

In [112]:
with open('../data/V2_Premise_decoder.csv', 'w') as f:
    for key in Premise.keys():
        f.write("%s,%s\n"%(key,Premise[key]))

In [113]:
with open('../data/V2_Neighborhood_decoder.csv', 'w') as f:
    for key in Neighborhood.keys():
        f.write("%s,%s\n"%(key,Neighborhood[key]))

In [119]:
with open('../data/V2_District_decoder.csv', 'w') as f:
    for key in District.keys():
        f.write("%s,%s\n"%(key,District[key]))

In [120]:
with open('../data/V2_Description_decoder.csv', 'w') as f:
    for key in Description.keys():
        f.write("%s,%s\n"%(key,Description[key]))