In [259]:
#Import packages
import pandas as pd
import numpy as np

In [260]:
#Import old data
old_data = pd.read_csv('/Users/samgreene/Downloads/V2_BPD_CRIME_DATA_CLEAN-2.csv')

In [261]:
old_data.head()

,Unnamed: 0,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Season,Month,Hour,Year
0,0,2017-09-02,ROBBERY - RESIDENCE,INSIDE,KNIFE,913.0,SOUTHERN,BROOKLYN,-76.60541,39.22951,ROW/TOWNHO,summer,9,23,2017
1,1,2017-09-02,AUTO THEFT,OUTSIDE,NONE,133.0,CENTRAL,RESERVOIR HILL,-76.63217,39.31360,STREET,summer,9,23,2017
2,2,2017-09-02,SHOOTING,OUTSIDE,FIREARM,524.0,NORTHERN,WINSTON-GOVANS,-76.60697,39.34768,STREET,summer,9,22,2017
3,3,2017-09-02,AGG. ASSAULT,INSIDE,OTHER,934.0,SOUTHERN,CARROLLTON RIDGE,-76.64526,39.28315,ROW/TOWNHO,summer,9,22,2017
4,4,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,113.0,CENTRAL,DOWNTOWN WEST,-76.61365,39.28756,STREET,summer,9,22,2017

In [262]:
#Import Neighborhood-CSA index
##This was manually created
neigh_csa = pd.read_csv('/Users/samgreene/Downloads/neighborhoods.csv')

In [263]:
neigh_csa

                Neighborhood                                CSA
0                   DOWNTOWN                Downtown/Seton Hill
1                  FRANKFORD                  Cedonia/Frankford
2              BELAIR-EDISON                      Belair-Edison
3                   BROOKLYN  Brooklyn/Curtis Bay/Hawkins Point
4                CHERRY HILL                        Cherry Hill
..                       ...                                ...
272     VILLAGES OF HOMELAND  North Baltimore/Guilford/Homeland
273      GREENMOUNT CEMETERY                    Greenmount East
274         MT PLEASANT PARK                         Loch Raven
275               BLYTHEWOOD  North Baltimore/Guilford/Homeland
276  DUNDALK MARINE TERMINAL                       Southeastern

[277 rows x 2 columns]

In [264]:
#Merge CSAs based on Neighborhood
old_data = pd.merge(old_data, neigh_csa, how = 'left', left_on = 'Neighborhood', right_on='Neighborhood')

In [265]:
old_data = old_data.drop(old_data.columns[0], axis = 1)

In [266]:
old_data.isnull().sum(axis = 0)

CrimeDate            0
Description          0
Inside/Outside       0
Weapon               0
Post                 0
District             0
Neighborhood         0
Longitude            0
Latitude             0
Premise              0
Season               0
Month                0
Hour                 0
Year                 0
CSA               3971
dtype: int64

In [267]:
#Import Demo Data
income = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Household_Income.csv')
poverty = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Family_Households_Living_Below_the_Poverty_Line.csv')
perc18_24 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_18-24_Years_old.csv')
perc25_64 = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_25-64_Years_old.csv')
perc65up = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Population_65_Years_and_over.csv')
perc_asian = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Asian_(Non-Hispanic).csv')
perc_aa = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Black_African-American_(Non-Hispanic).csv')
perc_hispanic = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_Hispanic.csv')
perc_white = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Percent_of_Residents_-_White_Caucasian_(Non-Hispanic).csv')
households = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Total_Number_of_Households.csv')
housing = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Median_Price_of_Homes_Sold.csv')
diversity = pd.read_csv('/Users/samgreene/Desktop/Baltimore Demo Data/Racial_Diversity_Index.csv')

In [268]:
#Create function to clean up years
def year(Year):
    yr = '20' + str(Year[-2]) + str (Year[-1])
    return int(yr)

In [269]:
#Create functions to transform demographic dataframes
def clean_demo(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("Shape__Area")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

def clean_demo_housing(df):
    cols = df.columns.to_list()
    
    beg = cols.index("CSA2010")
    end = cols.index("SHAPE_Length")
    
    val_vars = cols[beg+1:end]
    
    df1=df.melt(id_vars = ['CSA2010'],
                value_vars = val_vars,
                var_name = 'Year',
                value_name = val_vars[0][0:4])
    
    df1['Year'] = df1['Year'].apply(year)
    
    return df1

In [270]:
#Transform Demo data
income = clean_demo(income)
poverty = clean_demo(poverty)
perc18_24 = clean_demo(perc18_24)
perc25_64 = clean_demo(perc25_64)
perc65up = clean_demo(perc65up)
perc_asian = clean_demo(perc_asian)
perc_aa = clean_demo(perc_aa)
perc_hispanic = clean_demo(perc_hispanic)
perc_white = clean_demo(perc_white)
households = clean_demo(households)
housing = clean_demo_housing(housing)
diversity = clean_demo(diversity)

In [271]:
diversity

                               CSA2010  Year       racd
0        Allendale/Irvington/S. Hilton  2010  22.857311
1      Beechfield/Ten Hills/West Hills  2010  36.232305
2                        Belair-Edison  2010  24.608122
3    Brooklyn/Curtis Bay/Hawkins Point  2010  66.706878
4                               Canton  2010  28.275434
..                                 ...   ...        ...
325                Southwest Baltimore  2019  45.758309
326                      The Waverlies  2019  49.739217
327                Upton/Druid Heights  2019  16.958158
328         Washington Village/Pigtown  2019  62.626941
329     Westport/Mount Winans/Lakeland  2019  66.709022

[330 rows x 3 columns]

In [272]:
#Merge Demo data to Old data
new_data = pd.merge(old_data, income, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, poverty, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc18_24, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc25_64, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc65up, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_asian, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_aa, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_hispanic, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, perc_white, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, households, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, housing, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)
new_data = pd.merge(new_data, diversity, how = 'left', left_on = ['CSA','Year'], right_on=['CSA2010','Year']).drop('CSA2010',axis=1)

In [273]:
#Clean column names
new_data = new_data.rename(columns = {'mhhi': 'median_household_income',
                          'hhpo': 'households_below_poverty',
                          'age2': 'perc18_24',
                          'age6_x': 'perc25_64',
                          'age6_y': 'perc65up',
                          'pasi': 'perc_asian',
                          'paa1': 'perc_aa',
                          'phis': 'perc_hisp',
                          'pwhi': 'perc_white',
                          'hhs1': 'num_households',
                          'sale': 'median_price_homes_sold',
                          'racd': 'racial_diversity_index'})

In [274]:
new_data

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,...,perc18_24,perc25_64,perc65up,perc_asian,perc_aa,perc_hisp,perc_white,num_households,median_price_homes_sold,racial_diversity_index
0,2017-09-02,ROBBERY - RESIDENCE,INSIDE,KNIFE,913.0,SOUTHERN,BROOKLYN,-76.60541,39.22951,ROW/TOWNHO,...,8.248062,57.449612,7.302326,2.527132,37.961240,14.906977,39.682171,NaN,52000.0,73.926734
1,2017-09-02,AUTO THEFT,OUTSIDE,NONE,133.0,CENTRAL,RESERVOIR HILL,-76.63217,39.31360,STREET,...,8.231621,56.940108,11.003879,0.624468,83.990917,2.876336,10.966033,NaN,127500.0,31.631200
2,2017-09-02,SHOOTING,OUTSIDE,FIREARM,524.0,NORTHERN,WINSTON-GOVANS,-76.60697,39.34768,STREET,...,7.664336,52.242424,15.599068,0.093240,90.013986,1.948718,6.685315,NaN,71300.0,20.532109
3,2017-09-02,AGG. ASSAULT,INSIDE,OTHER,934.0,SOUTHERN,CARROLLTON RIDGE,-76.64526,39.28315,ROW/TOWNHO,...,7.730214,52.805320,10.888797,2.873597,73.573591,6.732767,12.782758,NaN,40000.0,49.751399
4,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,113.0,CENTRAL,DOWNTOWN WEST,-76.61365,39.28756,STREET,...,18.475432,71.268942,4.990051,16.255931,29.021889,4.959437,43.961427,NaN,207000.0,69.322521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263116,2012-01-01,LARCENY,INSIDE,NONE,832.0,SOUTHWESTERN,VIOLETVILLE,-76.67195,39.26132,OTHER - IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80700.0,NaN
263117,2012-01-01,LARCENY,OUTSIDE,NONE,444.0,NORTHEASTERN,FRANKFORD,-76.53829,39.32493,OTHER - OU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94500.0,NaN
263118,2012-01-01,LARCENY,OUTSIDE,NONE,321.0,EASTERN,CARE,-76.58497,39.29573,STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263119,2012-01-01,BURGLARY,INSIDE,NONE,425.0,NORTHEASTERN,GLENHAM-BELHAR,-76.54578,39.34701,APARTMENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116600.0,NaN
263120,2012-01-01,BURGLARY,INSIDE,NONE,831.0,SOUTHWESTERN,MORRELL PARK,-76.65094,39.26698,ROW/TOWNHO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80700.0,NaN

In [275]:
#Check Missing Values
new_data.isnull().sum(axis = 0)

CrimeDate                        0
Description                      0
Inside/Outside                   0
Weapon                           0
Post                             0
District                         0
Neighborhood                     0
Longitude                        0
Latitude                         0
Premise                          0
Season                           0
Month                            0
Hour                             0
Year                             0
CSA                           3971
median_household_income      16520
households_below_poverty    147895
perc18_24                   147895
perc25_64                   147895
perc65up                    147895
perc_asian                  147895
perc_aa                     147895
perc_hisp                   147895
perc_white                  147895
num_households              263121
median_price_homes_sold      16520
racial_diversity_index      147895
dtype: int64

In [276]:
new_data['num_households']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
263116   NaN
263117   NaN
263118   NaN
263119   NaN
263120   NaN
Name: num_households, Length: 263121, dtype: float64

In [277]:
#Create function to get group medians of household data
def get_median(df):
    var = df.columns[2]
    
    group = df.groupby('CSA2010')[var].median()
    group_df = pd.DataFrame({'CSA2010': group.index, 'median': group.values})
    
    return group_df

In [278]:
houses = get_median(housing)

In [279]:
#Merge household data
new_data = pd.merge(new_data, houses, how = 'left', left_on = 'CSA', right_on='CSA2010').drop('CSA2010',axis=1)

In [280]:
new_data = new_data.drop('num_households', axis = 1)

In [281]:
new_data = new_data.rename(columns = {'median':'num_households'})

In [282]:
new_data.isnull().sum(axis = 0)

CrimeDate                        0
Description                      0
Inside/Outside                   0
Weapon                           0
Post                             0
District                         0
Neighborhood                     0
Longitude                        0
Latitude                         0
Premise                          0
Season                           0
Month                            0
Hour                             0
Year                             0
CSA                           3971
median_household_income      16520
households_below_poverty    147895
perc18_24                   147895
perc25_64                   147895
perc65up                    147895
perc_asian                  147895
perc_aa                     147895
perc_hisp                   147895
perc_white                  147895
median_price_homes_sold      16520
racial_diversity_index      147895
num_households               16520
dtype: int64

In [238]:
new_data

,CrimeDate,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,...,perc18_24,perc25_64,perc65up,perc_asian,perc_aa,perc_hisp,perc_white,median_price_homes_sold,racial_diversity_index,num_households
0,2017-09-02,ROBBERY - RESIDENCE,INSIDE,KNIFE,913.0,SOUTHERN,BROOKLYN,-76.60541,39.22951,ROW/TOWNHO,...,8.248062,57.449612,7.302326,2.527132,37.961240,14.906977,39.682171,52000.0,73.926734,45000.0
1,2017-09-02,AUTO THEFT,OUTSIDE,NONE,133.0,CENTRAL,RESERVOIR HILL,-76.63217,39.31360,STREET,...,8.231621,56.940108,11.003879,0.624468,83.990917,2.876336,10.966033,127500.0,31.631200,78950.0
2,2017-09-02,SHOOTING,OUTSIDE,FIREARM,524.0,NORTHERN,WINSTON-GOVANS,-76.60697,39.34768,STREET,...,7.664336,52.242424,15.599068,0.093240,90.013986,1.948718,6.685315,71300.0,20.532109,60000.0
3,2017-09-02,AGG. ASSAULT,INSIDE,OTHER,934.0,SOUTHERN,CARROLLTON RIDGE,-76.64526,39.28315,ROW/TOWNHO,...,7.730214,52.805320,10.888797,2.873597,73.573591,6.732767,12.782758,40000.0,49.751399,22500.0
4,2017-09-02,COMMON ASSAULT,OUTSIDE,HANDS,113.0,CENTRAL,DOWNTOWN WEST,-76.61365,39.28756,STREET,...,18.475432,71.268942,4.990051,16.255931,29.021889,4.959437,43.961427,207000.0,69.322521,207000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263116,2012-01-01,LARCENY,INSIDE,NONE,832.0,SOUTHWESTERN,VIOLETVILLE,-76.67195,39.26132,OTHER - IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80700.0,NaN,70000.0
263117,2012-01-01,LARCENY,OUTSIDE,NONE,444.0,NORTHEASTERN,FRANKFORD,-76.53829,39.32493,OTHER - OU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94500.0,NaN,94500.0
263118,2012-01-01,LARCENY,OUTSIDE,NONE,321.0,EASTERN,CARE,-76.58497,39.29573,STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263119,2012-01-01,BURGLARY,INSIDE,NONE,425.0,NORTHEASTERN,GLENHAM-BELHAR,-76.54578,39.34701,APARTMENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116600.0,NaN,116600.0
263120,2012-01-01,BURGLARY,INSIDE,NONE,831.0,SOUTHWESTERN,MORRELL PARK,-76.65094,39.26698,ROW/TOWNHO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80700.0,NaN,70000.0

In [283]:
#Fill NAs with medians by CSA
new_data['households_below_poverty'] = new_data['households_below_poverty'].fillna(new_data.groupby('CSA')['households_below_poverty'].transform('median'))
new_data['perc18_24'] = new_data['perc18_24'].fillna(new_data.groupby('CSA')['perc18_24'].transform('median'))
new_data['perc25_64'] = new_data['perc25_64'].fillna(new_data.groupby('CSA')['perc25_64'].transform('median'))
new_data['perc65up'] = new_data['perc65up'].fillna(new_data.groupby('CSA')['perc65up'].transform('median'))
new_data['perc_asian'] = new_data['perc_asian'].fillna(new_data.groupby('CSA')['perc_asian'].transform('median'))
new_data['perc_aa'] = new_data['perc_aa'].fillna(new_data.groupby('CSA')['perc_aa'].transform('median'))
new_data['perc_hisp'] = new_data['perc_hisp'].fillna(new_data.groupby('CSA')['perc_hisp'].transform('median'))
new_data['perc_white'] = new_data['perc_white'].fillna(new_data.groupby('CSA')['perc_white'].transform('median'))
new_data['racial_diversity_index'] = new_data['racial_diversity_index'].fillna(new_data.groupby('CSA')['racial_diversity_index'].transform('median'))

In [284]:
new_data.isnull().sum(axis = 0)

CrimeDate                       0
Description                     0
Inside/Outside                  0
Weapon                          0
Post                            0
District                        0
Neighborhood                    0
Longitude                       0
Latitude                        0
Premise                         0
Season                          0
Month                           0
Hour                            0
Year                            0
CSA                          3971
median_household_income     16520
households_below_poverty    16520
perc18_24                   16520
perc25_64                   16520
perc65up                    16520
perc_asian                  16520
perc_aa                     16520
perc_hisp                   16520
perc_white                  16520
median_price_homes_sold     16520
racial_diversity_index      16520
num_households              16520
dtype: int64

In [285]:
#Export Data to CSV
new_data.to_csv('V2_BPD_CRIME_DATA_WITHDEMOGRAPHICS.csv')