In [36]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv("../data/Test_data_2017-18.csv")

In [38]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,12/30/2018,0:00:00,6D,300 N CALVERT ST,LARCENY FROM AUTO,NaN,NaN,111.0,CENTRAL,Downtown,39.2927,-76.6125,"(39.2927,-76.6125)",NaN,1
1,12/30/2018,0:00:00,6E,5400 YORK RD,LARCENY,O,NaN,523.0,NORTHERN,Homeland,39.3556,-76.6099,"(39.3556,-76.6099)",STREET,1
2,12/29/2018,0:00:00,5A,500 DOLPHIN ST,BURGLARY,I,NaN,123.0,CENTRAL,Upton,39.3011,-76.6276,"(39.3011,-76.6276)",ROW/TOWNHOUSE-OCC,1
3,12/29/2018,0:00:00,3P,6400 PULASKI HWY,ROBBERY - STREET,I,NaN,441.0,NORTHEAST,Pulaski Industrial Area,39.3039,-76.5408,"(39.3039,-76.5408)",HOTEL/MOTEL,1
4,12/28/2018,0:00:00,5F,1400 LIGHT ST,BURGLARY,I,NaN,942.0,SOUTHERN,Riverside,39.2736,-76.6118,"(39.2736,-76.6118)",OTHER - INSIDE,1

In [39]:
df.CrimeDate = pd.to_datetime(df.CrimeDate)

In [40]:
df['Month'] = df.CrimeDate.dt.month

In [41]:
df['CrimeTime'] = [time if time != "24:00:00" else "0:00:00" for time in df['CrimeTime']]

In [42]:
df.CrimeTime = pd.to_datetime(df['CrimeTime'],format= '%H:%M:%S').dt.time

In [43]:
df['Hour'] = [int(str(time)[:2]) for time in df.CrimeTime]

In [44]:
df["Year"] = df["CrimeDate"].dt.year

In [45]:
date = df.CrimeDate.dt.month*100 + df.CrimeDate.dt.day
df['Season'] = (pd.cut(date,[0,321,620,922,1220,1300],
                       labels=['winter','spring','summer','autumn','winter '])
                  .str.strip()
               )

In [46]:
df['Inside/Outside'] = df['Inside/Outside'].replace('I', 'Inside')
df['Inside/Outside'] = df['Inside/Outside'].replace('O', 'Outside')

In [47]:
df['Inside/Outside'] = df['Inside/Outside'].str.upper()

In [48]:
df = pd.get_dummies(df, columns=["Inside/Outside"],drop_first=True)
df = df.rename(columns={"Inside/Outside_OUTSIDE":"Outside"})

In [49]:
df = pd.get_dummies(df, columns=["Season"])

In [50]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Weapon,Post,District,Neighborhood,Longitude,...,Premise,Total Incidents,Month,Hour,Year,Outside,Season_autumn,Season_spring,Season_summer,Season_winter
0,2018-12-30,00:00:00,6D,300 N CALVERT ST,LARCENY FROM AUTO,NaN,111.0,CENTRAL,Downtown,39.2927,...,NaN,1,12,0,2018,0,0,0,0,1
1,2018-12-30,00:00:00,6E,5400 YORK RD,LARCENY,NaN,523.0,NORTHERN,Homeland,39.3556,...,STREET,1,12,0,2018,1,0,0,0,1
2,2018-12-29,00:00:00,5A,500 DOLPHIN ST,BURGLARY,NaN,123.0,CENTRAL,Upton,39.3011,...,ROW/TOWNHOUSE-OCC,1,12,0,2018,0,0,0,0,1
3,2018-12-29,00:00:00,3P,6400 PULASKI HWY,ROBBERY - STREET,NaN,441.0,NORTHEAST,Pulaski Industrial Area,39.3039,...,HOTEL/MOTEL,1,12,0,2018,0,0,0,0,1
4,2018-12-28,00:00:00,5F,1400 LIGHT ST,BURGLARY,NaN,942.0,SOUTHERN,Riverside,39.2736,...,OTHER - INSIDE,1,12,0,2018,0,0,0,0,1

In [51]:
df['Weapon'] = df['Weapon'].fillna('NONE')

In [52]:
df = df.drop(columns=["CrimeCode","CrimeTime"])

In [53]:
null_count = df.isnull().sum()
null_prop = null_count / len(df)
pd.DataFrame({
    'Count': null_count,
    'Proportion': null_prop})

                 Count  Proportion
CrimeDate            0    0.000000
Location           304    0.004629
Description          0    0.000000
Weapon               0    0.000000
Post               284    0.004325
District           158    0.002406
Neighborhood       161    0.002452
Longitude           33    0.000503
Latitude            33    0.000503
Location 1           0    0.000000
Premise          12617    0.192130
Total Incidents      0    0.000000
Month                0    0.000000
Hour                 0    0.000000
Year                 0    0.000000
Outside              0    0.000000
Season_autumn        0    0.000000
Season_spring        0    0.000000
Season_summer        0    0.000000
Season_winter        0    0.000000

In [36]:
len(df)

65669

Drop the null premises

In [54]:
df = df[df["Premise"].notna()]

Drop null long and lat.

In [56]:
df = df[df["Longitude"].notna()]
df = df[df["Latitude"].notna()]

Drop null post

In [57]:
df = df[df["Post"].notna()]

In [58]:
null_count = df.isnull().sum()
null_prop = null_count / len(df)
pd.DataFrame({
    'Count': null_count,
    'Proportion': null_prop})

                 Count  Proportion
CrimeDate            0    0.000000
Location           213    0.004032
Description          0    0.000000
Weapon               0    0.000000
Post                 0    0.000000
District             0    0.000000
Neighborhood         6    0.000114
Longitude            0    0.000000
Latitude             0    0.000000
Location 1           0    0.000000
Premise              0    0.000000
Total Incidents      0    0.000000
Month                0    0.000000
Hour                 0    0.000000
Year                 0    0.000000
Outside              0    0.000000
Season_autumn        0    0.000000
Season_spring        0    0.000000
Season_summer        0    0.000000
Season_winter        0    0.000000

Drop null neighborhood

In [59]:
df = df[df["Neighborhood"].notna()]

In [60]:
null_count = df.isnull().sum()
null_prop = null_count / len(df)
pd.DataFrame({
    'Count': null_count,
    'Proportion': null_prop})

                 Count  Proportion
CrimeDate            0    0.000000
Location           213    0.004032
Description          0    0.000000
Weapon               0    0.000000
Post                 0    0.000000
District             0    0.000000
Neighborhood         0    0.000000
Longitude            0    0.000000
Latitude             0    0.000000
Location 1           0    0.000000
Premise              0    0.000000
Total Incidents      0    0.000000
Month                0    0.000000
Hour                 0    0.000000
Year                 0    0.000000
Outside              0    0.000000
Season_autumn        0    0.000000
Season_spring        0    0.000000
Season_summer        0    0.000000
Season_winter        0    0.000000

Drop location as we don't need

In [61]:
df = df.drop(columns=["Location"])

In [62]:
df.head()

,CrimeDate,Description,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents,Month,Hour,Year,Outside,Season_autumn,Season_spring,Season_summer,Season_winter
1,2018-12-30,LARCENY,NONE,523.0,NORTHERN,Homeland,39.3556,-76.6099,"(39.3556,-76.6099)",STREET,1,12,0,2018,1,0,0,0,1
2,2018-12-29,BURGLARY,NONE,123.0,CENTRAL,Upton,39.3011,-76.6276,"(39.3011,-76.6276)",ROW/TOWNHOUSE-OCC,1,12,0,2018,0,0,0,0,1
3,2018-12-29,ROBBERY - STREET,NONE,441.0,NORTHEAST,Pulaski Industrial Area,39.3039,-76.5408,"(39.3039,-76.5408)",HOTEL/MOTEL,1,12,0,2018,0,0,0,0,1
4,2018-12-28,BURGLARY,NONE,942.0,SOUTHERN,Riverside,39.2736,-76.6118,"(39.2736,-76.6118)",OTHER - INSIDE,1,12,0,2018,0,0,0,0,1
5,2018-12-28,AUTO THEFT,NONE,613.0,NORTHWEST,Langston Hughes,39.3438,-76.6777,"(39.3438,-76.6777)",STREET,1,12,0,2018,1,0,0,0,1

In [63]:
df = df.drop(columns=["Location 1"])

In [64]:
df = df.drop(columns=["Total Incidents"])

In [65]:
df.head()

,CrimeDate,Description,Weapon,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,Year,Outside,Season_autumn,Season_spring,Season_summer,Season_winter
1,2018-12-30,LARCENY,NONE,523.0,NORTHERN,Homeland,39.3556,-76.6099,STREET,12,0,2018,1,0,0,0,1
2,2018-12-29,BURGLARY,NONE,123.0,CENTRAL,Upton,39.3011,-76.6276,ROW/TOWNHOUSE-OCC,12,0,2018,0,0,0,0,1
3,2018-12-29,ROBBERY - STREET,NONE,441.0,NORTHEAST,Pulaski Industrial Area,39.3039,-76.5408,HOTEL/MOTEL,12,0,2018,0,0,0,0,1
4,2018-12-28,BURGLARY,NONE,942.0,SOUTHERN,Riverside,39.2736,-76.6118,OTHER - INSIDE,12,0,2018,0,0,0,0,1
5,2018-12-28,AUTO THEFT,NONE,613.0,NORTHWEST,Langston Hughes,39.3438,-76.6777,STREET,12,0,2018,1,0,0,0,1

In [66]:
df['Premise'] = df['Premise'].str.upper()
df['Neighborhood'] = df['Neighborhood'].str.upper()

In [67]:
df["Description"].value_counts()

LARCENY                 11303
COMMON ASSAULT           8780
BURGLARY                 7478
LARCENY FROM AUTO        6407
AGG. ASSAULT             5880
AUTO THEFT               4904
ROBBERY - STREET         4133
ROBBERY - COMMERCIAL     1034
SHOOTING                  916
ROBBERY - RESIDENCE       563
ROBBERY - CARJACKING      537
HOMICIDE                  405
RAPE                      332
ARSON                     152
Name: Description, dtype: int64

In [68]:
df['Description'] = df['Description'].replace('RAPE', 'SEXUAL ASSAULT')

In [69]:
df = pd.get_dummies(df, columns=["Weapon"])

In [70]:
df.head()

,CrimeDate,Description,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,...,Season_autumn,Season_spring,Season_summer,Season_winter,Weapon_FIRE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER
1,2018-12-30,LARCENY,523.0,NORTHERN,HOMELAND,39.3556,-76.6099,STREET,12,0,...,0,0,0,1,0,0,0,0,1,0
2,2018-12-29,BURGLARY,123.0,CENTRAL,UPTON,39.3011,-76.6276,ROW/TOWNHOUSE-OCC,12,0,...,0,0,0,1,0,0,0,0,1,0
3,2018-12-29,ROBBERY - STREET,441.0,NORTHEAST,PULASKI INDUSTRIAL AREA,39.3039,-76.5408,HOTEL/MOTEL,12,0,...,0,0,0,1,0,0,0,0,1,0
4,2018-12-28,BURGLARY,942.0,SOUTHERN,RIVERSIDE,39.2736,-76.6118,OTHER - INSIDE,12,0,...,0,0,0,1,0,0,0,0,1,0
5,2018-12-28,AUTO THEFT,613.0,NORTHWEST,LANGSTON HUGHES,39.3438,-76.6777,STREET,12,0,...,0,0,0,1,0,0,0,0,1,0

In [71]:
df["District"].value_counts()

NORTHEAST    7909
SOUTHEAST    7183
CENTRAL      6053
SOUTHWEST    5994
SOUTHERN     5864
NORTHERN     5420
NORTHWEST    5400
EASTERN      4754
WESTERN      4247
Name: District, dtype: int64

In [72]:
df['Premise'] = df['Premise'].replace('GARAGE ON', 'SHED/GARAGE')
df['Premise'] = df['Premise'].replace('APT. LOCKE', 'APARTMENT')
df['Premise'] = df['Premise'].replace('APT/CONDO', 'APARTMENT')
df['Premise'] = df['Premise'].replace('COMMON BUS', 'BUS/AUTO')
df['Premise'] = df['Premise'].replace('HOSP/NURS.', 'HOSPITAL')
df['Premise'] = df['Premise'].replace('VEHICLE', 'BUS/AUTO')
df['Premise'] = df['Premise'].replace('PRIVATE SC', 'SCHOOL')
df['Premise'] = df['Premise'].replace('PUBLIC SCH', 'SCHOOL')
df['Premise'] = df['Premise'].replace('TAVERN/NIG', 'BAR')
df['Premise'] = df['Premise'].replace('RAILROAD C', 'BUS/RAILRO')
df['Premise'] = df['Premise'].replace('COMMON BUS', 'BUS/AUTO')
df['Premise'] = df['Premise'].replace('CHURCH', 'RELIGIOUS')
df['Premise'] = df['Premise'].replace('ARENA', 'STADIUM')
df['Premise'] = df['Premise'].replace('YARD/BUSIN', 'YARD')
df['Premise'] = df['Premise'].replace('PIZZA/OTHE', 'RESTAURANT')
df['Premise'] = df['Premise'].replace('DAY CARE F', 'SCHOOL PLA')
df['Premise'] = df['Premise'].replace('MANUFACTUR', 'WAREHOUSE')
df['Premise'] = df['Premise'].replace('MOBILE HOM', 'DWELLING')
df['Premise'] = df['Premise'].replace('BOX CARS/C', 'BUS/RAILRO')
df['Premise'] = df['Premise'].replace('PHOTO STUD', 'RETAIL/SMA')
df['Premise'] = df['Premise'].replace('TRUCKING &', 'TRACTOR TR')
df['Premise'] = df['Premise'].replace('SKYWALK', 'PUBLIC ARE')
df['Premise'] = df['Premise'].replace('FINANCE/LO', 'BANK/FINAN')
df['Premise'] = df['Premise'].replace('STRUCTURE-', 'UNKNOWN')
df['Premise'] = df['Premise'].replace('BLDG UNDER', 'CONSTRUCTI')
df['Premise'] = df['Premise'].replace('HOUSE UNDE', 'CONSTRUCTI')
df['Premise'] = df['Premise'].replace('MAILBOX-ST', 'STREET')
df['Premise'] = df['Premise'].replace('RENTAL/VID', 'RETAIL/SMA')

In [73]:
df['Neighborhood'] = df['Neighborhood'].replace('PATTERSON PARK NEIGHBORHO', 'PATTERSON PARK')

In [74]:
from pandas.tseries.holiday import USFederalHolidayCalendar
calendar = USFederalHolidayCalendar()
#df.CrimeDate = pd.to_datetime(df.CrimeDate)

dr = pd.date_range(start='2017-09-03', end='2018-12-31')
holidays = calendar.holidays(start=dr.min(), end=dr.max())
df['Holiday'] = df['CrimeDate'].isin(holidays)
df['Holiday'] = df['Holiday'].replace(False, 0)
df['Holiday'] = df['Holiday'].replace(True, 1)

df["Weekday"] = pd.to_datetime(df["CrimeDate"]).dt.dayofweek
df["Weekend"] = (df["Weekday"] > 4).astype(int)
df = df.drop(columns=["Weekday"])

In [75]:
df.head()

,CrimeDate,Description,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,...,Season_summer,Season_winter,Weapon_FIRE,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend
1,2018-12-30,LARCENY,523.0,NORTHERN,HOMELAND,39.3556,-76.6099,STREET,12,0,...,0,1,0,0,0,0,1,0,0,1
2,2018-12-29,BURGLARY,123.0,CENTRAL,UPTON,39.3011,-76.6276,ROW/TOWNHOUSE-OCC,12,0,...,0,1,0,0,0,0,1,0,0,1
3,2018-12-29,ROBBERY - STREET,441.0,NORTHEAST,PULASKI INDUSTRIAL AREA,39.3039,-76.5408,HOTEL/MOTEL,12,0,...,0,1,0,0,0,0,1,0,0,1
4,2018-12-28,BURGLARY,942.0,SOUTHERN,RIVERSIDE,39.2736,-76.6118,OTHER - INSIDE,12,0,...,0,1,0,0,0,0,1,0,0,0
5,2018-12-28,AUTO THEFT,613.0,NORTHWEST,LANGSTON HUGHES,39.3438,-76.6777,STREET,12,0,...,0,1,0,0,0,0,1,0,0,0

In [76]:
Description = pd.read_csv("../data/V2_Description_decoder.csv", header=None)

In [77]:
Description

                       0   1
0           AGG. ASSAULT   0
1                  ARSON   1
2      ASSAULT BY THREAT   2
3             AUTO THEFT   3
4               BURGLARY   4
5         COMMON ASSAULT   5
6               HOMICIDE   6
7                LARCENY   7
8      LARCENY FROM AUTO   8
9   ROBBERY - CARJACKING   9
10  ROBBERY - COMMERCIAL  10
11   ROBBERY - RESIDENCE  11
12      ROBBERY - STREET  12
13        SEXUAL ASSAULT  13
14              SHOOTING  14

Drop weapon FIRE

In [78]:
df = df.drop(columns="Weapon_FIRE")

In [79]:
from sklearn.preprocessing import LabelEncoder

In [80]:
le = LabelEncoder()

In [81]:
le.fit(Description[0])

LabelEncoder()

In [82]:
le.classes_

array(['AGG. ASSAULT', 'ARSON', 'ASSAULT BY THREAT', 'AUTO THEFT',
       'BURGLARY', 'COMMON ASSAULT', 'HOMICIDE', 'LARCENY',
       'LARCENY FROM AUTO', 'ROBBERY - CARJACKING',
       'ROBBERY - COMMERCIAL', 'ROBBERY - RESIDENCE', 'ROBBERY - STREET',
       'SEXUAL ASSAULT', 'SHOOTING'], dtype=object)

In [83]:
df["Description"]=le.transform(df["Description"])

In [84]:
df.head()

,CrimeDate,Description,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,...,Season_spring,Season_summer,Season_winter,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend
1,2018-12-30,7,523.0,NORTHERN,HOMELAND,39.3556,-76.6099,STREET,12,0,...,0,0,1,0,0,0,1,0,0,1
2,2018-12-29,4,123.0,CENTRAL,UPTON,39.3011,-76.6276,ROW/TOWNHOUSE-OCC,12,0,...,0,0,1,0,0,0,1,0,0,1
3,2018-12-29,12,441.0,NORTHEAST,PULASKI INDUSTRIAL AREA,39.3039,-76.5408,HOTEL/MOTEL,12,0,...,0,0,1,0,0,0,1,0,0,1
4,2018-12-28,4,942.0,SOUTHERN,RIVERSIDE,39.2736,-76.6118,OTHER - INSIDE,12,0,...,0,0,1,0,0,0,1,0,0,0
5,2018-12-28,3,613.0,NORTHWEST,LANGSTON HUGHES,39.3438,-76.6777,STREET,12,0,...,0,0,1,0,0,0,1,0,0,0

In [85]:
District = pd.read_csv("../data/V2_District_decoder.csv", header=None)

In [86]:
le.fit(District[0])

LabelEncoder()

In [87]:
df['District'] = df['District'].replace('NORTHEAST', 'NORTHEASTERN')
df['District'] = df['District'].replace('NORTHWEST', 'NORTHWESTERN')

In [88]:
df["District"].value_counts()

NORTHEASTERN    7909
SOUTHEAST       7183
CENTRAL         6053
SOUTHWEST       5994
SOUTHERN        5864
NORTHERN        5420
NORTHWESTERN    5400
EASTERN         4754
WESTERN         4247
Name: District, dtype: int64

In [89]:
District

              0  1
0       CENTRAL  0
1       EASTERN  1
2  NORTHEASTERN  2
3      NORTHERN  3
4  NORTHWESTERN  4
5  SOUTHEASTERN  5
6      SOUTHERN  6
7  SOUTHWESTERN  7
8       WESTERN  8

In [90]:
df['District'] = df['District'].replace('SOUTHEAST', 'SOUTHEASTERN')
df['District'] = df['District'].replace('SOUTHWEST', 'SOUTHWESTERN')

In [91]:
df["District"]=le.transform(df["District"])

In [92]:
df.head()

,CrimeDate,Description,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,...,Season_spring,Season_summer,Season_winter,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend
1,2018-12-30,7,523.0,3,HOMELAND,39.3556,-76.6099,STREET,12,0,...,0,0,1,0,0,0,1,0,0,1
2,2018-12-29,4,123.0,0,UPTON,39.3011,-76.6276,ROW/TOWNHOUSE-OCC,12,0,...,0,0,1,0,0,0,1,0,0,1
3,2018-12-29,12,441.0,2,PULASKI INDUSTRIAL AREA,39.3039,-76.5408,HOTEL/MOTEL,12,0,...,0,0,1,0,0,0,1,0,0,1
4,2018-12-28,4,942.0,6,RIVERSIDE,39.2736,-76.6118,OTHER - INSIDE,12,0,...,0,0,1,0,0,0,1,0,0,0
5,2018-12-28,3,613.0,4,LANGSTON HUGHES,39.3438,-76.6777,STREET,12,0,...,0,0,1,0,0,0,1,0,0,0

In [93]:
Neighborhood = pd.read_csv("../data/V2_Neighborhood_decoder.csv", header=None)

In [94]:
le.fit(Neighborhood[0])

LabelEncoder()

In [95]:
pd.set_option('display.max_rows', 500)
Neighborhood

                             0    1
0                        ABELL    0
1                    ALLENDALE    1
2                      ARCADIA    2
3                    ARLINGTON    3
4            ARMISTEAD GARDENS    4
5                    ASHBURTON    5
6          BALTIMORE HIGHLANDS    6
7                      BARCLAY    7
8                 BARRE CIRCLE    8
9                      BAYVIEW    9
10                  BEECHFIELD   10
11               BELAIR-EDISON   11
12             BELAIR-PARKSIDE   12
13            BELLONA-GITTINGS   13
14                   BELVEDERE   14
15                       BEREA   15
16              BETTER WAVERLY   16
17               BEVERLY HILLS   17
18               BIDDLE STREET   18
19                  BLYTHEWOOD   19
20                 BOLTON HILL   20
21                  BOYD-BOOTH   21
22                BREWERS HILL   22
23        BRIDGEVIEW/GREENLAWN   23
24               BROADWAY EAST   24
25              BROENING MANOR   25
26                    BROOKLYN   26
27           BURLEITH-LEIGHTON   27
28              BUTCHER'S HILL   28
29           CALLAWAY-GARRISON   29
30             CAMERON VILLAGE   30
31                      CANTON   31
32      CANTON INDUSTRIAL AREA   32
33                        CARE   33
34   CARROLL - CAMDEN INDUSTRI   34
35                CARROLL PARK   35
36        CARROLL-SOUTH HILTON   36
37            CARROLLTON RIDGE   37
38                  CEDARCROFT   38
39                     CEDMONT   39
40                     CEDONIA   40
41         CENTRAL FOREST PARK   41
42        CENTRAL PARK HEIGHTS   42
43               CHARLES NORTH   43
44             CHARLES VILLAGE   44
45                 CHERRY HILL   45
46                   CHESWOLDE   46
47             CHINQUAPIN PARK   47
48                CLIFTON PARK   48
49                  COLDSPRING   49
50   COLDSTREAM HOMESTEAD MONT   50
51   CONCERNED CITIZENS OF FOR   51
52   COPPIN HEIGHTS/ASH-CO-EAS   52
53               CROSS COUNTRY   53
54                  CROSS KEYS   54
55                  CURTIS BAY   55
56   CURTIS BAY INDUSTRIAL ARE   56
57                     CYLBURN   57
58                 DARLEY PARK   58
59                 DICKEYVILLE   59
60                    DOLFIELD   60
61                  DORCHESTER   61
62                    DOWNTOWN   62
63               DOWNTOWN WEST   63
64               DRUID HEIGHTS   64
65             DRUID HILL PARK   65
66             DUNBAR-BROADWAY   66
67     DUNDALK MARINE TERMINAL   67
68              EAST ARLINGTON   68
69       EAST BALTIMORE MIDWAY   69
70                  EASTERWOOD   70
71                    EASTWOOD   71
72                    EDGEWOOD   72
73           EDMONDSON VILLAGE   73
74      EDNOR GARDENS-LAKESIDE   74
75       ELLWOOD PARK/MONUMENT   75
76                   EVERGREEN   76
77              EVERGREEN LAWN   77
78                EVESHAM PARK   78
79              FAIRFIELD AREA   79
80                    FAIRMONT   80
81                   FALLSTAFF   81
82                FEDERAL HILL   82
83                 FELLS POINT   83
84                 FOREST PARK   84
85     FOREST PARK GOLF COURSE   85
86                FOUR BY FOUR   86
87                   FRANKFORD   87
88             FRANKLIN SQUARE   88
89                FRANKLINTOWN   89
90           FRANKLINTOWN ROAD   90
91                 GARWYN OAKS   91
92                  GAY STREET   92
93                        GLEN   93
94                   GLEN OAKS   94
95              GLENHAM-BELHAR   95
96              GRACELAND PARK   96
97                   GREEKTOWN   97
98         GREENMOUNT CEMETERY   98
99             GREENMOUNT WEST   99
100                GREENSPRING  100
101                 GROVE PARK  101
102                   GUILFORD  102
103               GWYNNS FALLS  103
104   GWYNNS FALLS/LEAKIN PARK  104
105             HAMILTON HILLS  105
106                    HAMPDEN  106
107            HANLON-LONGWOOD  107
108                HARLEM PARK  108
109                    HARWOOD  109
110              HAWKINS POINT  110
111          HERITAGE CROSSING  111
112           HERRING RUN PARK  112
113               HIGHLANDTOWN  113
114                     HILLEN  114
115               HOES HEIGHTS  115
116   HOLABIRD INDUSTRIAL PARK  116
117             HOLLINS MARKET  117
118                   HOMELAND  118
119            HOPKINS BAYVIEW  119
120                HOWARD PARK  120
121              HUNTING RIDGE  121
122                   IDLEWOOD  122
123               INNER HARBOR  123
124                  IRVINGTON  124
125     JOHNS HOPKINS HOMEWOOD  125
126            JOHNSTON SQUARE  126
127           JONES FALLS AREA  127
128                  JONESTOWN  128
129            KENILWORTH PARK  129
130                  KERNEWOOD  130
131                    KESWICK  131
132                    KRESSON  132
133               LAKE EVESHAM  133
134                LAKE WALKER  134
135                   LAKELAND  135
136            LANGSTON HUGHES  136
137                 LAURAVILLE  137
138                  LEVINDALE  138
139             LIBERTY SQUARE  139
140               LITTLE ITALY  140
141                 LOCH RAVEN  141
142               LOCUST POINT  142
143  LOCUST POINT INDUSTRIAL A  143
144    LOWER EDMONDSON VILLAGE  144
145     LOWER HERRING RUN PARK  145
146          LOYOLA/NOTRE DAME  146
147               LUCILLE PARK  147
148               MADISON PARK  148
149            MADISON-EASTEND  149
150                   MAYFIELD  150
151             MCELDERRY PARK  151
152                   MEDFIELD  152
153                    MEDFORD  153
154                 MID-GOVANS  154
155         MID-TOWN BELVEDERE  155
156  MIDDLE BRANCH/REEDBIRD PA  156
157                MIDDLE EAST  157
158          MIDTOWN-EDMONDSON  158
159                   MILLHILL  159
160            MILTON-MONTFORD  160
161                  MONDAWMIN  161
162                 MONTEBELLO  162
163            MORAVIA-WALTHER  163
164                MORGAN PARK  164
165    MORGAN STATE UNIVERSITY  165
166               MORRELL PARK  166
167                     MOSHER  167
168                MOUNT HOLLY  168
169               MOUNT VERNON  169
170           MOUNT WASHINGTON  170
171               MOUNT WINANS  171
172           MT PLEASANT PARK  172
173              NEW NORTHWOOD  173
174  NEW SOUTHWEST/MOUNT CLARE  174
175         NORTH HARFORD ROAD  175
176   NORTH ROLAND PARK/POPLAR  176
177  NORTHWEST COMMUNITY ACTIO  177
178          O'DONNELL HEIGHTS  178
179                 OAKENSHAWE  179
180                     OAKLEE  180
181                OLD GOUCHER  181
182                    OLDTOWN  182
183                     OLIVER  183
184                ORANGEVILLE  184
185  ORANGEVILLE INDUSTRIAL AR  185
186              ORCHARD RIDGE  186
187         ORIGINAL NORTHWOOD  187
188                  OTTERBEIN  188
189                    OVERLEA  189
190     PANWAY/BRADDISH AVENUE  190
191                PARK CIRCLE  191
192                   PARKLANE  192
193                   PARKSIDE  193
194         PARKVIEW/WOODBROOK  194
195             PATTERSON PARK  195
196            PATTERSON PLACE  196
197                   PEN LUCY  197
198                 PENN NORTH  198
199              PENN-FALLSWAY  199
200  PENROSE/FAYETTE STREET OU  200
201              PERKINS HOMES  201
202               PERRING LOCH  202
203     PIMLICO GOOD NEIGHBORS  203
204      PLEASANT VIEW GARDENS  204
205                  POPPLETON  205
206             PORT COVINGTON  206
207    PULASKI INDUSTRIAL AREA  207
208                    PURNELL  208
209             RADNOR-WINSTON  209
210                 RAMBLEWOOD  210
211       REISTERSTOWN STATION  211
212                  REMINGTON  212
213             RESERVOIR HILL  213
214            RICHNOR SPRINGS  214
215          RIDGELY'S DELIGHT  215
216                  RIVERSIDE  216
217             ROGNEL HEIGHTS  217
218                ROLAND PARK  218
219                   ROSEBANK  219
220                   ROSEMONT  220
221              ROSEMONT EAST  221
222  ROSEMONT HOMEOWNERS/TENAN  222
223           SABINA-MATTFELDT  223
224                SAINT AGNES  224
225               SAINT HELENA  225
226              SAINT JOSEPHS  226
227                 SAINT PAUL  227
228        SANDTOWN-WINCHESTER  228
229        SETON BUSINESS PARK  229
230                 SETON HILL  230
231           SHARP-LEADENHALL  231
232               SHIPLEY HILL  232
233            SOUTH BALTIMORE  233
234         SOUTH CLIFTON PARK  234
235   SPRING GARDEN INDUSTRIAL  235
236               STADIUM AREA  236
237  STONEWOOD-PENTWOOD-WINSTO  237
238             TAYLOR HEIGHTS  238
239                  TEN HILLS  239
240               THE ORCHARDS  240
241           TOWANDA-GRANTLEY  241
242                    TREMONT  242
243         TUSCANY-CANTERBURY  243
244               UNION SQUARE  244
245     UNIVERSITY OF MARYLAND  245
246                    UPLANDS  246
247          UPPER FELLS POINT  247
248                      UPTON  248
249       VILLAGES OF HOMELAND  249
250                VIOLETVILLE  250
251                  WAKEFIELD  251
252                   WALBROOK  252
253                 WALTHERSON  253
254            WASHINGTON HILL  254
255  WASHINGTON VILLAGE/PIGTOW  255
256                    WAVERLY  256
257             WEST ARLINGTON  257
258           WEST FOREST PARK  258
259                 WEST HILLS  259
260                  WESTFIELD  260
261                   WESTGATE  261
262                   WESTPORT  262
263               WILHELM PARK  263
264                WILSON PARK  264
265                 WINCHESTER  265
266              WINDSOR HILLS  266
267             WINSTON-GOVANS  267
268                  WOODBERRY  268
269         WOODBOURNE HEIGHTS  269
270          WOODBOURNE-MCCABE  270
271                   WOODMERE  271
272                   WRENLANE  272
273                 WYMAN PARK  273
274                  WYNDHURST  274
275               YALE HEIGHTS  275
276              YORK-HOMELAND  276

In [96]:
df['Neighborhood'] = df['Neighborhood'].replace('COLDSTREAM HOMESTEAD MONTEBELLO', 'COLDSTREAM HOMESTEAD MONT')

In [97]:

df['Neighborhood'] = df['Neighborhood'].replace('COPPIN HEIGHTS/ASH-CO-EAST', 'COPPIN HEIGHTS/ASH-CO-EAS')

In [98]:
df['Neighborhood'] = df['Neighborhood'].replace('LOCUST POINT INDUSTRIAL AREA', 'LOCUST POINT INDUSTRIAL A')

In [99]:
df = df[df['Neighborhood']!='HARFORD-ECHODALE/PERRING PARKWAY']

In [100]:
df['Neighborhood'] = df['Neighborhood'].replace('WASHINGTON VILLAGE', 'WASHINGTON VILLAGE/PIGTOW')

In [101]:
df = df[df['Neighborhood']!='BALTIMORE-LINWOOD']

In [102]:
df['Neighborhood'] = df['Neighborhood'].replace('NORTHWEST COMMUNITY ACTION', 'NORTHWEST COMMUNITY ACTIO')

In [103]:
df['Neighborhood'] = df['Neighborhood'].replace('PENROSE/FAYETTE STREET OUTREACH', 'PENROSE/FAYETTE STREET OU')

In [104]:
df = df[df['Neighborhood']!='CHINQUAPIN PARK-BELVEDERE']

In [105]:
df['Neighborhood'] = df['Neighborhood'].replace('BOOTH-BOYD', 'BOYD-BOOTH')

In [106]:
df['Neighborhood'] = df['Neighborhood'].replace('GLENHAM-BELFORD', 'GLENHAM-BELHAR')

In [107]:
df = df[df['Neighborhood']!='CLAREMONT-FREEDOM']

In [108]:
df = df[df['Neighborhood']!='SBIC']

In [109]:
df['Neighborhood'] = df['Neighborhood'].replace('ROSEMONT HOMEOWNERS/TENANTS', 'ROSEMONT HOMEOWNERS/TENAN')

In [110]:
df['Neighborhood'] = df['Neighborhood'].replace('NORTH ROLAND PARK/POPLAR HILL', 'NORTH ROLAND PARK/POPLAR')

In [111]:
df['Neighborhood'] = df['Neighborhood'].replace('CARROLL - CAMDEN INDUSTRIAL AREA', 'CARROLL - CAMDEN INDUSTRI')

In [112]:
df['Neighborhood'] = df['Neighborhood'].replace('CONCERNED CITIZENS OF FOREST PARK', 'CONCERNED CITIZENS OF FOR')

In [113]:
df = df[df['Neighborhood']!='WOODRING']

In [114]:
df = df[df['Neighborhood']!='JOSEPH LEE']

In [115]:
df['Neighborhood'] = df['Neighborhood'].replace('STONEWOOD-PENTWOOD-WINSTON', 'STONEWOOD-PENTWOOD-WINSTO')

In [116]:
df = df[df['Neighborhood']!='WILSON HEIGHTS']

In [117]:
df = df[df['Neighborhood']!='CHRISTOPHER']

In [118]:
df['Neighborhood'] = df['Neighborhood'].replace('MIDDLE BRANCH/REEDBIRD PARKS', 'MIDDLE BRANCH/REEDBIRD PA')

In [119]:
df['Neighborhood'] = df['Neighborhood'].replace('ORANGEVILLE INDUSTRIAL AREA', 'ORANGEVILLE INDUSTRIAL AR')

In [120]:
df['Neighborhood'] = df['Neighborhood'].replace('CURTIS BAY INDUSTRIAL AREA', 'CURTIS BAY INDUSTRIAL ARE')

In [121]:
df['Neighborhood'] = df['Neighborhood'].replace('SPRING GARDEN INDUSTRIAL AREA', 'SPRING GARDEN INDUSTRIAL')

In [122]:
df["Neighborhood"]=le.transform(df["Neighborhood"])

Dear lord. Finally. Now the premises.......

In [123]:
Premise = pd.read_csv("../data/V2_Premise_decoder.csv", header=None)

In [124]:
Premise

              0   1
0         ALLEY   0
1     APARTMENT   1
2    ATM MACHIN   2
3    AUTO PARTS   3
4        BAKERY   4
5    BANK/FINAN   5
6           BAR   6
7    BARBER/BEA   7
8     BOAT YARD   8
9     BOAT/SHIP   9
10   BRIDGE-PIE  10
11   BUS.  STOR  11
12    BUS. PARK  12
13     BUS/AUTO  13
14   BUS/RAILRO  14
15          CAB  15
16   CAR  REPAI  16
17   CAR LOT-NE  17
18    CARRY OUT  18
19     CEMETERY  19
20   CHAIN FOOD  20
21   CLOTHING/S  21
22   CLUB HOUSE  22
23   CONSTRUCTI  23
24   CONVENIENC  24
25   CONVENTION  25
26   COURT HOUS  26
27   DEPARTMENT  27
28   DOCTORS OF  28
29     DRIVEWAY  29
30   DRUG STORE  30
31     DWELLING  31
32    FAST FOOD  32
33   FIRE DEPAR  33
34   GAS STATIO  34
35   GROCERY/CO  35
36   HARDWARE/B  36
37     HOSPITAL  37
38   HOTEL/MOTE  38
39   INNER HARB  39
40   JEWELRY ST  40
41   LAUNDRY/CL  41
42      LIBRARY  42
43   LIGHT RAIL  43
44   LIQUOR STO  44
45   MARKET STA  45
46   MINI STORA  46
47      MTA LOT  47
48   NIGHT DEPO  48
49   OFFICE BUI  49
50   OTHER - IN  50
51   OTHER - OU  51
52   OTHER/RESI  52
53         PARK  53
54   PARKING LO  54
55    PAWN SHOP  55
56   PENITENTIA  56
57   PLAYGROUND  57
58   POLICE DEP  58
59   POOL/BOWLI  59
60   PORCH/DECK  60
61   PUBLIC ARE  61
62   PUBLIC BUI  62
63   PUBLIC HOU  63
64   RACE TRACK  64
65   RECREATION  65
66    RELIGIOUS  66
67   RESTAURANT  67
68   RETAIL/SMA  68
69   ROW/TOWNHO  69
70   SALESMAN/C  70
71       SCHOOL  71
72   SCHOOL PLA  72
73  SHED/GARAGE  73
74   SHOPPING M  74
75   SINGLE HOU  75
76    SPECIALTY  76
77      STADIUM  77
78       STREET  78
79       SUBWAY  79
80      THEATRE  80
81   TRACTOR TR  81
82      UNKNOWN  82
83   UTILITIES-  83
84   VACANT BUI  84
85   VACANT DWE  85
86   VACANT LOT  86
87    WAREHOUSE  87
88   WHOLESALE/  88
89         YARD  89

In [125]:
le.fit(Premise[0])

LabelEncoder()

In [126]:
df["Premise"] = [i.rstrip() for i in df["Premise"]]

In [127]:
df['Premise'] = df['Premise'].replace('ROW/TOWNHOUSE-OCC', 'ROW/TOWNHO')

In [128]:

df['Premise'] = df['Premise'].replace('HOTEL/MOTEL', 'HOTEL/MOTE')

In [129]:
df['Premise'] = df['Premise'].replace('OTHER - INSIDE', 'OTHER - IN')

In [130]:

df['Premise'] = df['Premise'].replace('ROW/TOWNHOUSE-VAC', 'ROW/TOWNHO')

In [131]:
df['Premise'] = df['Premise'].replace('RETAIL/SMALL BUSINES', 'RETAIL/SMA')

In [132]:
df['Premise'] = df['Premise'].replace('APT/CONDO - OCCUPIED', 'APARTMENT')

In [133]:
df['Premise'] = df['Premise'].replace('PARKING LOT-OUTSIDE', 'PARKING LO')

In [134]:
df['Premise'] = df['Premise'].replace('GARAGE ON PRIV. PROP', 'SHED/GARAGE')

In [135]:
df['Premise'] = df['Premise'].replace('RELIGIOUS  INSTITUTI', 'RELIGIOUS')

In [136]:
df['Premise'] = df['Premise'].replace('OTHER - OUTSIDE', 'OTHER - OU')

In [137]:
df['Premise'] = df['Premise'].replace('VACANT BUILDING', 'VACANT BUI')

In [138]:
df['Premise'] = df['Premise'].replace('OTHER/RESIDENTIAL', 'OTHER/RESI')

In [139]:
df['Premise'] = df['Premise'].replace('YARD/BUSINESS', 'YARD')

In [140]:
df['Premise'] = df['Premise'].replace('POLICE DEPARTMENT', 'POLICE DEP')

In [141]:
df['Premise'] = df['Premise'].replace('GAS STATION', 'GAS STATIO')

In [142]:
df['Premise'] = df['Premise'].replace('SHOPPING MALLS/CNTR', 'SHOPPING M')

In [143]:
df['Premise'] = df['Premise'].replace('RECREATION FACILITY', 'RECREATION')

In [144]:
df['Premise'] = df['Premise'].replace('HOSP/NURS. HOME', 'HOSPITAL')

In [145]:
df['Premise'] = df['Premise'].replace('PARKING LOT', 'PARKING LO')

In [146]:
df['Premise'] = df['Premise'].replace('DRUG STORE / MED  BL', 'DRUG STORE')

In [147]:
df['Premise'] = df['Premise'].replace('CONVENIENCE STORE', 'CONVENIENC')

In [148]:
df['Premise'] = df['Premise'].replace('LAUNDRY/CLEANRS/SHOE', 'LAUNDRY/CL')

In [149]:
df['Premise'] = df['Premise'].replace('PUBLIC HOUSING', 'PUBLIC HOU')

In [150]:
df['Premise'] = df['Premise'].replace('SINGLE HOUSE', 'SINGLE HOU')

In [151]:
df['Premise'] = df['Premise'].replace('BUS.  STORAGE SHED', 'BUS.  STOR')

In [152]:
df['Premise'] = df['Premise'].replace('BUS. STOR', 'BUS.  STOR')

In [153]:
df['Premise'] = df['Premise'].replace('CAR  REPAIR SHOP', 'CAR  REPAI')

In [154]:
df['Premise'] = df['Premise'].replace('CAR REPAI', 'CAR  REPAI')

In [155]:
df['Premise'] = df['Premise'].replace('LIQUOR STORE', 'LIQUOR STO')

In [156]:
df['Premise'] = df['Premise'].replace('OFFICE BUILDING', 'OFFICE BUI')

In [157]:
df['Premise'] = df['Premise'].replace('BANK/FINANCIAL INST', 'BANK/FINAN')

In [158]:
df['Premise'] = df['Premise'].replace('BARBER/BEAUTY SHOP', 'BARBER/BEA')

In [159]:
df['Premise'] = df['Premise'].replace('CAR LOT-NEW/USED', 'CAR LOT-NE')

In [160]:
df['Premise'] = df['Premise'].replace('WHOLESALE/DISC. STOR', 'WHOLESALE/')

In [161]:
df['Premise'] = df['Premise'].replace('GROCERY/CONFECTION', 'GROCERY/CO')

In [162]:
df['Premise'] = df['Premise'].replace('JEWELRY STORE', 'JEWELRY ST')

In [163]:
df['Premise'] = df['Premise'].replace('SPECIALTY STORE', 'SPECIALTY')

In [164]:
df['Premise'] = df['Premise'].replace('AUTO PARTS STORE', 'AUTO PARTS')

In [165]:
df['Premise'] = df['Premise'].replace('PUBLIC AREA', 'PUBLIC ARE')

In [166]:
df['Premise'] = df['Premise'].replace('PARKING LOT-INSIDE', 'PARKING LO')

In [167]:
df['Premise'] = df['Premise'].replace('GARAGE', 'SHED/GARAGE')

In [168]:
df['Premise'] = df['Premise'].replace('PUBLIC BUILDING', 'PUBLIC BUI')

In [169]:
df['Premise'] = df['Premise'].replace('VACANT LOT/WOODS', 'VACANT LOT')

In [170]:
df['Premise'] = df['Premise'].replace('INNER HARBOR-S-KEY', 'INNER HARB')

In [171]:
df['Premise'] = df['Premise'].replace('CLOTHING/SHOE STORE', 'CLOTHING/S')

In [172]:
df['Premise'] = df['Premise'].replace('COMMON BUSINESS', 'BUS/AUTO')

That last one is an error in the original.

In [173]:
df['Premise'] = df['Premise'].replace("BOX CARS/COMM'L TRLR", 'BUS/RAILRO')

In [174]:
df['Premise'] = df['Premise'].replace("MARKET STALLS", 'MARKET STA')

In [175]:
df['Premise'] = df['Premise'].replace("CLUB HOUSE/FRATERNIT", 'CLUB HOUSE')

In [176]:
df['Premise'] = df['Premise'].replace("BUS. PARK LOT-OUTSID", 'BUS. PARK')

In [177]:
df['Premise'] = df['Premise'].replace("INNER HARBOR-W-LIGHT", 'INNER HARB')

In [178]:
df['Premise'] = df['Premise'].replace("BUS/RAILROAD STATION", 'BUS/RAILRO')

That one is also a mistake with the original...

In [179]:
df['Premise'] = df['Premise'].replace("TAVERN/NIGHT CLUB", 'BAR')

In [180]:
df['Premise'] = df['Premise'].replace("INNER HARBOR-N-PRATT", 'INNER HARB')

In [181]:
df['Premise'] = df['Premise'].replace("PIZZA/OTHER DELIVERY", 'RESTAURANT')

That one should be CARRY OUT in the original.

In [182]:
df['Premise'] = df['Premise'].replace("SHED", 'SHED/GARAGE')

In [183]:
df['Premise'] = df['Premise'].replace("APARTMENT HALLWAY", 'APARTMENT')

In [184]:
df['Premise'] = df['Premise'].replace("CONSTRUCTION SITE", 'CONSTRUCTI')

In [185]:
df['Premise'] = df['Premise'].replace("PENITENTIARY/JAIL", 'PENITENTIA')

In [186]:
df['Premise'] = df['Premise'].replace("CHAIN FOOD STORE", 'CHAIN FOOD')

In [187]:
df['Premise'] = df['Premise'].replace("VACANT DWELLING", 'VACANT DWE')

In [188]:
df['Premise'] = df['Premise'].replace("FINANCE/LOAN COMPANY", 'BANK/FINAN')

In [189]:
df['Premise'] = df['Premise'].replace("PLAYGROUND/ATHLETIC", 'PLAYGROUND')

In [190]:
df['Premise'] = df['Premise'].replace("DEPARTMENT STORE", 'DEPARTMENT')

In [191]:
df['Premise'] = df['Premise'].replace("DOCTORS OFFICE", 'DOCTORS OF')

In [192]:
df['Premise'] = df['Premise'].replace("CONVENTION CENTER", 'CONVENTION')

In [193]:
df['Premise'] = df['Premise'].replace("HOUSE UNDER CONSTRUC", 'CONSTRUCTI')

In [194]:
df['Premise'] = df['Premise'].replace("DAY CARE FACILITY", 'SCHOOL PLA')

In [195]:
df['Premise'] = df['Premise'].replace("FIRE DEPARTMENT", 'FIRE DEPAR')

In [196]:
df['Premise'] = df['Premise'].replace("SCHOOL PLAYGROUND", 'SCHOOL PLA')

In [197]:
df['Premise'] = df['Premise'].replace("SALESMAN/COLLECTORS", 'SALESMAN/C')

In [198]:
df['Premise'] = df['Premise'].replace("COURT HOUSE", 'COURT HOUS')

In [199]:
df['Premise'] = df['Premise'].replace("APT/CONDO - VACANT", 'APARTMENT')

In [200]:
df['Premise'] = df['Premise'].replace('APT. LOCKER/LAUNDRY', 'APARTMENT')

In [201]:
df['Premise'] = df['Premise'].replace('HARDWARE/BLDG. SUP.', 'HARDWARE/B')

In [202]:
df['Premise'] = df['Premise'].replace('BLDG UNDER CONST.', 'CONSTRUCTI')

In [203]:
df['Premise'] = df['Premise'].replace('MOBILE HOME', 'DWELLING')

In [204]:
df['Premise'] = df['Premise'].replace('BUS. PARK LOT-INSIDE', 'BUS. PARK')

In [205]:
df['Premise'] = df['Premise'].replace('ATM MACHINES', 'ATM MACHIN')

In [206]:
df['Premise'] = df['Premise'].replace('MAILBOX-STREET/RES.', 'STREET')

In [207]:
df['Premise'] = df['Premise'].replace('PUBLIC SCHOOL', 'SCHOOL')

In [208]:
df['Premise'] = df['Premise'].replace('RENTAL/VIDEO STORE', 'RETAIL/SMA')

In [209]:
df['Premise'] = df['Premise'].replace('MINI STORAGE LOCKERS', 'MINI STORA')

In [210]:
df['Premise'] = df['Premise'].replace('PHOTO STUDIO/CAMERA', 'RETAIL/SMA')

In [211]:
df['Premise'] = df['Premise'].replace('BRIDGE-PIERS-DOCKS', 'BRIDGE-PIE')

In [212]:
df['Premise'] = df['Premise'].replace('POOL/BOWLING/AMUSE.', 'POOL/BOWLI')

In [213]:
df['Premise'] = df['Premise'].replace('MANUFACTURING PLANT', 'WAREHOUSE')

In [214]:
df["Premise"]=le.transform(df["Premise"])

Whoever truncated all of those in the kaggle data.....I will find you.

In [215]:
df.head()

,CrimeDate,Description,Post,District,Neighborhood,Longitude,Latitude,Premise,Month,Hour,...,Season_spring,Season_summer,Season_winter,Weapon_FIREARM,Weapon_HANDS,Weapon_KNIFE,Weapon_NONE,Weapon_OTHER,Holiday,Weekend
1,2018-12-30,7,523.0,3,118,39.3556,-76.6099,78,12,0,...,0,0,1,0,0,0,1,0,0,1
2,2018-12-29,4,123.0,0,248,39.3011,-76.6276,69,12,0,...,0,0,1,0,0,0,1,0,0,1
3,2018-12-29,12,441.0,2,207,39.3039,-76.5408,38,12,0,...,0,0,1,0,0,0,1,0,0,1
4,2018-12-28,4,942.0,6,216,39.2736,-76.6118,50,12,0,...,0,0,1,0,0,0,1,0,0,0
5,2018-12-28,3,613.0,4,136,39.3438,-76.6777,78,12,0,...,0,0,1,0,0,0,1,0,0,0

In [216]:
df.to_csv("../data/V2_TEST_DATA_ENCODED_TRANSFORMED.csv")

In [217]:
df.columns

Index(['CrimeDate', 'Description', 'Post', 'District', 'Neighborhood',
       'Longitude', 'Latitude', 'Premise', 'Month', 'Hour', 'Year', 'Outside',
       'Season_autumn', 'Season_spring', 'Season_summer', 'Season_winter',
       'Weapon_FIREARM', 'Weapon_HANDS', 'Weapon_KNIFE', 'Weapon_NONE',
       'Weapon_OTHER', 'Holiday', 'Weekend'],
      dtype='object')